APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

BYPASS_STAY_ONLINE_RECORD=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

SEND_EMAIL=false
MAIL_DRIVER=smtp
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

RECAPTCHA_ENABLE=false
RECAPTCHA_URL=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

BITLY_ACCESS_TOKEN=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LARAVEL_WEBSOCKETS_PORT=10025
LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT=
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK=

SENTRY_LARAVEL_DSN=
SENTRY_TRACES_SAMPLE_RATE=
INSPECTOR_INGESTION_KEY=

LINE_NOTIFY_CLIENT_ID=
LINE_NOTIFY_CLIENT_SECRET=
LINE_NOTIFY_CALLBACK_URL=

JWT_SECRET=

AWS_SQS_KEY=
AWS_SQS_SECRET=
AWS_SQS_PREFIX=
AWS_SQS_QUEUE=auto-ban
AWS_SQS_REGION=

FILESYSTEM_DRIVER=public

SCOUT_DRIVER=database
SCOUT_QUEUE=true
MEILISEARCH_HOST=
MEILISEARCH_KEY=