<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./tests</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="test-database-serverless-v1.cluster-cmrjqslfreie.ap-southeast-1.rds.amazonaws.com"/>
        <env name="DB_DATABASE" value="sugar_garden"/>
        <env name="DB_USERNAME" value="sg_user"/>
        <env name="DB_PASSWORD" value="mt%cF.49/jesU6yG"/>
		<env name="MAIL_DRIVER" value="log"/>
        <env name="INBOX_NO_VALUE_RESULT" value="No data" />
        <env name="ADV_AUTH_LINE_TOKEN" value="請輸入測試用的line token，以免傳送到正式的進階驗證Line Notify" />
    </php>
</phpunit>
