body {font-size: 14px;font-family: "Microsoft YaHei UI"}
* {margin: 0;padding: 0;box-sizing: border-box;}
dl {margin: 0;}
dt {font-weight: normal;}
ul,
li {list-style-type: none;margin: 0;}

h1,
h2,
h3,
h4,
h5,
h6 {font-size: 100%;font-weight: normal;}
a {color: #333;text-decoration: none;-o-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
a:hover {text-decoration: none;color: inherit;}
a:focus {text-decoration: none;color: inherit;}
img {border: 0;vertical-align: middle;max-width: 100%;}
table {border-collapse: collapse;}
input {border: 0;}
.wrap {width: 100%;overflow: hidden;}
input::-webkit-input-placeholder {color: #aab2bd;}
.left{ float:left}
.right{ float:right}

.mar_top10{ margin-top:10px;}
.mar_top20{ margin-top:20px;}
.mar_top15{ margin-top:15px;}
.pad_bot{ padding-bottom:15px;}


.bgwt{background:#ffffff}
.gr_hover{ color:#18a30d !important}

.red{ color:#f00}
/*公共样式勿删除*/
.clearfix:after {content: " ";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {zoom: 1;}

.bg{ background:#e9f6da}
.bg_v{ background: url(../images/bg_v.png) no-repeat top #fbfbfb; background-size:100%;}
.bg_vu{ background: url(../images/usbg.png) no-repeat top #fbfbfb; background-size:100%;}

@media (max-width:760px) {
}

.top{height:100px; background:#ffffff;width:100%;}
.logo{ margin-top:10px}

.nav{ line-height:50px; margin-top:25px; float:right}
.nav a{ font-size:18px; float:left; color:#333; margin-right:30px}
.nav a:last-child{ margin-right:0}
.nav a:hover{color:#517c35}

@media (max-width:1024px) {
.nav {padding: 0;display: none;}
.top{height:80px; background:#ffffff;width:100%;}
.logo{ margin-top:10px; height:60px}
}

.bano_f{display:none}
.pho_nav{ display:none}


@media (max-width:1024px) {
.bano{display:none}
.bano_f{display: block}

.pho_nav{display: block;}
.pho_nav_img{ position: absolute; top:25px;right:20px; }
.pho_nav_ul{width:100px;position: absolute;top:50px;right: 10px; display:none; z-index:10}
.pho_nav_ul ul{border-radius: 10px;background: rgba(0,0,0,0.8);padding: 5px 5px;text-align: center;}
.pho_nav_ul ul li{ line-height:35px}
.pho_nav_ul ul li a{ color:#ffffff;width:100%;padding:0 10px}
.pho_nav_ul ul li:last-child {border-bottom:none;}
.pho_nav_ul ul li:hover{ background:#679044;}




.pho_jt{position:relative; top:6px; height:7px; right:-66px}
}


.banner{width:100%;}
.banner img{width:100%;}
.banner01{ padding:45px 0 0 0}


@media (max-width:1024px) {
.banner01{ padding:0 0 10px 0}
}


.bgbot{ background:url(../images/bg_15.png) top no-repeat; background-size:cover; min-height:2300px}
.bg_cp01{width:1134px; margin:0 auto;padding:10px; background:#ffffff; border-radius:40px; display:table; margin-top:30px;}
.bg_cp01_nr{width:100%;padding:10px; margin:0 auto; border:#1e9c1c 2px dashed;border-radius:40px; position:relative}

.cpleft{margin-left:20px;}
.cpright{margin-right:20px;}

.cpleft{margin-left:40px;}
.cpright{margin-right:20px;}


.cpnone{ display:none}
@media (max-width:1024px) {
.cpnone_p{ display:none}
.cpnone{ display: block}
.cpsj{width:80%; margin:0 auto; margin-left:10%}
.bg_cp01{width:100%;border-radius:20px; margin-top:15px;}
.bg_cp01_nr{border-radius:20px;}


}

@media (max-width:760px) {
.cpsj{width:96%; margin:0 auto; margin-left:2%}
}
.button_g{ padding:10px 20px;height:40px; background:#679044; text-align:center; color:#ffffff; font-family:"宋体"; font-size:18px; position:absolute; right:20px; bottom:20px}


.bottom{ padding:20px; background:#333333;margin-top:20px }
.bottom h2{ text-align:center; color:#ffffff; font-size:15px; line-height:25px}
.bottom i{ margin-left:15px; margin-right:15px;font-style:normal}


@media (max-width:1024px) {
.bottom{ margin-top:20px}
}
@media (max-width:760px) {
.bottom span{width:100%; display:block}
.bottom i{ display:none}
}


.cptit{ margin-top:40px; background:#ffffff; height:40px; line-height:40px}
.cptit a{ color:#333333}
.cptit span{ margin:0 7px;}
.cp_t{ margin-top:10px;margin-bottom:40px; padding:20px 0}


.cpfont h2{ font-size:36px; font-weight:bold; line-height:50px; margin-top:10px}
.cpfont h3{ font-size:15px; background:#eeeeee; padding:10px; line-height:25px; margin-top:10px; margin-bottom:10px}
.cpfont h3 p{ margin:0; font-weight:800}
.cpfont h4{ font-size:18px; color:#ff0037;}
.cpfont h4 span{ font-size:33px; font-weight:bold}
.cpfont h5{ margin-top:10px; margin-bottom:15px}
.cpfont h5 span{ line-height:30px; margin-left:20px; color:#666666; font-size:16px;}
.cp_input{width:30px; height:30px; border:#a7a6ac 1px solid; float:left;}
.cp_input01{width:80px; border:#a7a6ac 1px solid; height:30px; text-align:center; color:#a7a6ac; float:left; margin-left:10px; margin-right:10px; font-size:16px; color:#333}

@media (max-width:1024px) {
.cpfont h2{ font-size:28px;line-height:40px; margin-top:10px}
.cpfont h3{ font-size:14px; padding:10px; line-height:25px; margin-bottom:5px;}
.cpfont h3 p{ margin:0; font-weight:800}
.cpfont h4{ font-size:18px; color:#ff0037;}
.cpfont h4 span{ font-size:30px; font-weight:bold}
.cpfont h5{ margin-top:10px; margin-bottom:10px}
.cpfont h5 span{ line-height:30px; margin-left:20px; color:#666666; font-size:16px;}

.cpbutgm{width:200px;}
.cptit{ margin-top:15px}

}

@media (max-width:992px) {
.cpfont h3{ font-size:12px; line-height:21px;}

}

@media (max-width:760px) {
.cpfont h2{ font-size:26px;}
.cpfont h3{margin-top:5px;}
.cpbutgm{width:100%;margin-top:15px}

.cp_t{ margin-bottom:10px}
}




.cpt{display:none}
@media (max-width:1024px) {
.cpt{display:none}
.cpt_pc{display:block}
}
@media (max-width:760px) {
.cpt{display:block}
.cpt_pc{display:none}
}

.tejia{ padding:5px; background:#ff4863; color:#ffffff; font-size:12px; font-weight:normal; border-radius:5px; position:relative; right:-5px; bottom:8px}
@media (max-width:760px) {
.tejia{ bottom:5px}

}


.next_tab{ background:#ffffff; padding:10px;}
.next_title{width:100%; height:40px; background:#f2366d; color:#ffffff; font-size:18px;}
.next_title span{ border-left:#ffffff 4px solid; line-height:40px; padding-left:10px; margin-left:15px}

.neimg{width:100%;}
.ne_mtop{ margin-top:15px}

.nt_tabbg{ background:#fe8f90; }
.nt_tabbg02{ background:#b88cc7;}
.nt_tabbg03{ background:#f48d8d;}
.nt_tabbg04{ background:#22aa38;}
.nt_tabbg05{ background:#8cc01e;}

.nttable{width:94%; padding:10px; margin:0 auto;border-radius:5px;}
.nttable table{ border:#ffffff 1px solid; font-size:15px; color:#ffffff}
.nttable table tr td{ padding:8px; border-left:#ffffff 1px solid; border-bottom:#ffffff 1px solid}
.nttable table tr td h3{ font-size:15px; line-height:25px;}

@media (max-width:760px) {
.next_title{font-size:16px;}
.ne_mtop{ margin-top:10px}
.nttable{width:100%;}
}


.goum{width:100%; background:#fbfbfb; height:40px; font-size:15px; line-height:40px; margin-top:15px; margin-bottom:15px; display:table}
.goum span{margin-left:10px; color:#666666; margin-right:5px;}
.goum a{margin-right:15px; color:#333; font-weight:800}
/*.goum a:hover{ color:#ff0000}
.gw_hover{ color:#ff0000 !important}
.goum a:last-child{ margin-right:0}
*/

.a_goum{width:100%; background:#fbfbfb; height:40px; font-size:15px; line-height:40px; margin-top:15px; margin-bottom:15px; display:table;position:relative;}
.a_goum span{ margin-left:15px; color:#333; font-weight:bold;}
.a_goum font{ color:#333; margin-left:15px; font-weight:normal}
.goum_pop{ position: absolute; background:#ffffff;width:95px; top:45px; left:10px; border:#eeeeee 1px solid; z-index:10; border-radius:5px; padding:5px; font-size:13px; display:none}
.goum_pop a{width:100%; text-align:left; display:table; color:#333; line-height:30px; padding:0 5px}
.goum_pop a:hover{ color:#F00 !important; background:#eee}
.goum_pop a:before{ background:#60F}
.goum_pop a:before{}

.xiqngbutton{ background:url(../images/gmbut.png) no-repeat;display: table;width:300px;height:50px;margin-top: 15px;}
.xiqngbutton:hover{ background:url(../images/gmbut_h.png) no-repeat;display: table;width:300px;height:50px;margin-top: 15px;}

@media (max-width:760px) {
.xiqngbutton{ background:url(../images/gmbut.png) no-repeat;background-size: 60%;display: table;width:100%;height: 70px;margin: 0 auto;margin-top: 15px;}
.xiqngbutton:hover{ background:url(../images/gmbut_h.png) no-repeat;background-size: 100%;display: table;width:100%;height: 70px;margin: 0 auto;margin-top: 15px;}
}


@media (max-width:414px) {
.xiqngbutton{ background:url(../images/gmbut.png) no-repeat;background-size: 100%;display: table;width:100%;height: 70px;margin: 0 auto;margin-top: 15px;}
.xiqngbutton:hover{ background:url(../images/gmbut_h.png) no-repeat;background-size: 100%;display: table;width:100%;height: 70px;margin: 0 auto;margin-top: 15px;}
}





.gm_b{ background:url(../images/gm_but.png) no-repeat;display: table;width:327px;height:55px;margin-top: 15px;}
.gm_b:hover{ background:url(../images/gm_but_h.png) no-repeat;display: table;width:327px;height:55px;margin-top: 15px;}

@media (max-width:760px) {
.gm_b{ background:url(../images/gm_but.png) no-repeat;background-size: 100%;display: table;width:327px;height: 55px;margin: 0 auto;margin-top: 30px; margin-bottom: 60px;}
.gm_b:hover{ background:url(../images/gm_but_h.png) no-repeat;background-size: 100%;display: table;width:327px;height: 55px;margin: 0 auto;margin-top: 30px; margin-bottom: 60px;}
}





.wupin{ margin-bottom:40px}
.wupin h2{ font-size:18px; text-align:center; line-height:40px; color:#666666}
.wupin h3{ font-size:28px; text-align:center;}
.wp_tab{padding-bottom:60px; margin-top:20px;}

.wpbut{width:300px; margin:0 auto; margin-top:15px}
.wpbut_1{ border:#679044 1px solid;width:70%;height:40px; border-radius:8px; line-height:40px; float:left;}
.wpbut_1 span{width:60%; text-align:center; float:left; font-size:16px}
.wpbut_1 span i{ font-size:22px; font-style:normal;font-weight:bold}
.wpbut_1 font{ color:#F00}

.wpbut_1 a{width:40%; text-align:center; float:right;background: linear-gradient(#679044  ,#4e8222);border-radius:0px 5PX 5PX 0PX; color:#ffffff; height:39px}
.wpbut_1 a:hover{background: linear-gradient(#4e8222 ,#679044);color:#ffffff}
.wpmore{ float:right;border:#679044 1px solid;width:28%;height:40px; border-radius:8px; line-height:40px; text-align:center; color:#679044}
.wpmore:hover{ background:#679044; color:#ffffff}



@media (max-width:760px) {
.wupin h2{ font-size:16px}

.wp_tab{padding-bottom:20px; margin-top:10px;}

.goum{width:100%; background:#fbfbfb; height:auto; font-size:14px; line-height:22px; margin-top:15px; margin-bottom:15px; padding:10px;}
.goum span{ margin-left:0px; color:#666666; margin-right:5px;width:100%;display:table}
.goum a{margin-right:10px; color:#333; font-weight:800; display:inline-block}
.goum a:hover{ color:#ff0000}
.gw_hover{ color:#ff0000 !important}

.wpbut{width:90%;}
.wupin h3{ font-size:24PX}
}




.zxtit{ margin-top:20px; background:#ffffff; height:40px; line-height:40px;overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zxtit a{ color:#333333}
.zxtit span{ margin:0 7px;}
.zx_top{ margin-top:10px}

.zixun{margin-top:30px;}


.zxlist h2{ font-size:22px; padding:10px 0 }
.zxlist h3{ font-size:15px; color:#999 }
.zxlist h4{ font-size:15px; color:#666; margin-top:20px; line-height:25px; height:50px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;}
.zxlist h4 a{ color:#666}

.zx_bot{ margin-bottom:30px}

@media (max-width:1024px) {
.zxlist h2{ font-size:20px; padding:5px 0; margin-top:10PX}
.zxlist h4{ font-size:15px; color:#666; margin-top:10px; line-height:20px; height:40px; }

}


@media (max-width:760px) {
.zx_img{width:100%;}

.zxlist h2{ font-size:18px;}
.zxlist h4{ font-size:14px; }

}
.feline{height:1px; background:#eeeeee;width:100%; margin-bottom:20px}
.fenye{ padding-top:10px; padding-bottom:40px;}

.zxxq{width:90%; margin:0 auto; padding-top:30px}
.zxxq h2{ text-align:center; font-size:35px; font-weight:bold; padding-bottom:10px}
.zxxq h3{ text-align:center; font-size:14px; line-height:25px; padding-bottom:30px}

.zxxq_1{width:90%; margin:0 auto;}
.zxxq_1 p{ line-height:25px}
.zxxq_1 img{ padding:10px 0 20px 0}
.zxxq_1 h2{width:100%; height:30px; line-height:30px; background:#f8f8f9; color:#333; font-size:18px; font-weight:bold; text-align:left; padding:0 20px}
.zxxq_1 .text{text-align:left; padding:20px 20px;}
.zxxq_1 .text span{ color:#333; font-size:18px; font-weight:bold; display:block}
.zxxq_1 .text h4{ font-size:14px; line-height:25px;}

@media (max-width:760px) {
.zxxq{width:100%; margin:0 auto; padding-top:0px}
.zxxq h2{ text-align:center; font-size:22px; font-weight:bold; padding-bottom:10px; line-height:35px;}
.zxxq h3{ text-align:center; font-size:14px; line-height:25px; padding-bottom:20px}
.zxxq_1{width:100%;}
.zxxq_1 img{ padding:10px 0 10px 0}
	
.zxxq_1 h2{width:100%; height:auto; line-height:30px; background:#f8f8f9; color:#333; font-size:15px; font-weight:bold; text-align:left; padding:0 10px}
.zxxq_1 .text span{font-size:15px;}
.zxxq_1 .text{text-align:left; padding:10px 10px;}
}

.new_x{ margin-top:15px;}
.xqnew{ height:140px; margin-top:10px;}
.xqnew .title{width:100%; height:35px; line-height:35px; background:#e0c576; color:#ffffff; font-size:15px}
.xqnew .title span{ border-left:4px solid #ffffff; padding-left:10px; margin-left:15px}

.xqlist{width:96%; margin-left:2%; margin-top:15px}
.xqlist a{width:100%; height:25px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:1;overflow: hidden; display:block; color:#333}



.lx_title{ margin:0 auto; text-align:center; margin-bottom:60px; margin-top:20px;}
.lx_title h2{font-size:30px; font-weight:bold;}
.lx_title h3{ font-size:20px; color:#333; line-height:30px;}
.lx_title h4{width:50px; height:3px; background:#18a30d; margin:0 auto}

.lx_icon .img{ float:left;}
.lx_icon .font{ float:left; margin-left:10px}
.lx_icon .font h2{ font-size:15px; line-height:35px; font-weight:bold}
.lx_icon .font h3{ font-size:15px}


.lxmap{width:1300px; margin:0 auto; margin-top:40px; margin-bottom:60px}
.lxmap img{width:100%; border:#eeeeee 1px solid}


@media (max-width:720px) {
.lx_icon .img{ float:left; margin-left:8%; margin-right:10px}

}

@media (max-width:320px) {
.lx_icon .img{ float:left; margin-left:0%; margin-right:0px}

}



@media (max-width:1024px) {
.lxbg{ margin-left:17%}
.lxmap{width:100%;margin-top:0px; margin-bottom:30px}	
.lx_icon{margin-bottom:20px;}
.lx_title{ margin-bottom:40px; margin-top:0px;}
.lxmap img{width:92%}
}
@media (max-width:790px) {
.lxbg{margin-left:8%}
}


@media (max-width:720px) {
.lxbg{width:98%; margin-left:1%}
.lx_title{ margin-bottom:30px; margin-top:0px;}
.lxmap{margin-bottom:30px;margin-bottom:30px}

}


.lxadd{ background:#f4f4f4;}
.bot_b{ margin-top:0}
.ad_dz{ margin-top:60px; margin-bottom:30px}

.ad_table{padding-bottom:60px;}
.ad_input{width:100%; height:35px; border:#bfbfbf 1px solid; background:none;padding:0 5px; color:#999}
.ad_texts{width:100%; height:120px;border:#bfbfbf 1px solid; background:none;padding:5px 5px;color:#999}
.ad_fonts{line-height:35px; font-size:15px; margin-top:10px;}


@media (max-width:1024px) {
.ad_table{padding-bottom:50px;}
}
@media (max-width:720px) {
.ad_dz{ margin-top:40px; margin-bottom:20px}
}


.jsbutton{width:210px;background:#18a30d; padding:10px 30px;text-align:center; color:#ffffff; margin:0 auto;display:table; border-radius:5px; color:#ffffff}
.jsbutton:hover{ color:#ffffff}
@media (max-width:720px) {
.jsbutton{width:100%;}
}


.dingdan{margin-top:40px; margin-bottom:40px;}
.dingd_top{width:100%;background:url(../images/gm_bg.png) repeat-x; height:8px; padding:0}
.dingd_nr{ margin-top:90px; margin-bottom:120px;}
.dingd_nr img{ margin:0 auto}
.dingd_nr h2{ font-size:20px; text-align:center; font-weight:bold}

.ding_tab{width:50%; margin:0 auto; border:#dcdcdc 1px solid; border-radius:5px; margin-top:40px}
.ding_tab h2{width:100%; height:40px; line-height:40px; background:#f5f5f5; font-weight:normal; font-size:15px; padding:0 15px}

.di_nr{width:100%; padding:20px 15px 10px 15px;}
.di_nr_1{width:100%;display:table; margin-bottom:10px}
.di_nr_1 sapn{ float:left}
.di_nr_1 var{width: -webkit-calc(100% - 150px);width: calc(100% - 150px);float: right; font-style:normal; color:#666666}
.di_nr_1 var p{ padding:0; margin:0}

.ding_mo{width:50%;margin:0 auto; margin-top:5px;}
.ding_mo h2{text-align:center; color:#999999; font-size:14px; line-height:35px; font-weight:normal}
.di_z{width:100%; background:#1b1b1b; height:50px; line-height:50px; color:#ffffff; font-size:15px; font-weight:bold; text-align:center; border-radius:5px;}
.di_z span{ margin-left:40px;}

.di_back{width:228px; margin:0 auto; text-align:center; border-radius:5px; border:#333333 1px solid; height:55px; line-height:55px; font-size:18px; margin-top:45px; color:#333333}
.di_back:hover{ background:#333333; color:#ffffff}


@media (max-width:1024px) {
.dingd_nr{min-height:950px}
.ding_tab{width:80%;}
.ding_mo{width:80%}
}

@media (max-width:769px) {
.dingd_nr{min-height:700px}
}

@media (max-width:720px) {
.dingdan{margin-top:20px; margin-bottom:20px;}
.dingd_nr{ margin-top:20px; margin-bottom:50px;min-height:500px}
.ding_tab{width:95%;}
.ding_mo{width:95%}
.di_nr_1 var{width: -webkit-calc(100% - 130px);width: calc(100% - 130px);float: right; font-style:normal; color:#666666}

.di_back{margin-top:20px; }
}


.gw_bg{ background:none}
.ngoum{width:697px;margin:0 auto; margin-top:40px}
.ngoum img{width:100%}
.ngoum_1{width:670px;background:#ffffff;margin:0 auto}

.ngtab{width:95%; margin:0 auto; padding-top:20px; padding-bottom:20px}
.ngtab h2{ background:#fde0dc; border-radius:6px; line-height:40px; color:#333333; padding:0 10px; font-size:16px; font-weight:bold}
.ngtab h2 i{ float:right; color:#f00; font-size:14px; font-weight:normal; font-style:normal}


.ng_ys{ background:#fbfbfb; margin-top:15px; margin-bottom:0px; padding:10px 0 ;}
.ng_yb{ margin-top:20px;}
.ng_xx{width:100%;border-radius:6px; display:table}
.ng_xx b{width:80%; margin:0 auto; display:table; margin-top:8px; margin-bottom:8px; font-size:15px;}
.ng_xx b span{width:20%; text-align:right; float:left; line-height:35px; font-weight:normal}
.ng_xx b var{width: -webkit-calc(100% - 23%);width: calc(100% - 23%);float: right; font-style:normal; color:#666666; line-height:35px; font-weight:normal}

.ng_ys_tab{background:#ffffff; margin-top:0px; margin-bottom:25px;}
.but_aa{width:20px; height:20px; background:url(../images/gm_img04.png) no-repeat;width: -webkit-calc(100% - 95%);width: calc(100% - 95%); float:right; margin-top:-36px}
.but_left{width:100%; float:left}
.ng_oneb{margin-top:20px !important}

@media (max-width:720px) {
.but_aa{width:20px; height:20px; background:url(../images/gm_img04.png) no-repeat;width: -webkit-calc(100% - 90%);width: calc(100% - 90%); float:right; margin-top:-36px}
}
@media (max-width:720px) {
}






.ng_but{width:100%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; color:#666666; border-radius:5px;font-family:"Microsoft YaHei UI";}
.ng_bu_t{width:49%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; color:#666666; border-radius:5px;font-family:"Microsoft YaHei UI";}
.xxsq{width:49%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; color:#666666; border-radius:5px;font-family:"Microsoft YaHei UI";}
.ng_bu_date{width:32.5%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; color:#666666; border-radius:5px;font-family:"Microsoft YaHei UI";}
.delicon{position:absolute; right:10px; top:10px;}




.tianjia{width:80%; margin:0 auto;}
.tjbutton{background:#333333; border-radius:5px; color:#ffffff; padding:10px 30px; margin-bottom:0px; margin-top:10px; display:table}
.tjbutton:hover{ background:#000; color:#fff}
.tj_left{ margin-left:22%}
.bt{ color:#f00; font-style:normal; margin-right:2px}


.ng_left1{ margin-left:1%}
.ng_lable{ color:#333; font-weight:normal; margin-right:30px;}
.xx_top{ margin-top:25px;}

.xx_kp{ margin-left:5px;}

.xx_khinput{width:23%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; text-align:left; color:#666666; border-radius:5px}
.xx_text{width:2.6%; text-align:center; line-height:35px; float:left; color:#d2d2d2; font-weight:bold}

.xcard{width:100%;}
.xcard_input{width:88%;height: 35px;border: #e5e5e5 1px solid;background: #ffffff;padding: 0 5px;color: #666666;border-radius:5px;}

.xcard img{ float:right; height:35px}
.xcard_text{width:100%;height:100px;border: #e5e5e5 1px solid;background: #ffffff;padding: 0 5px;color: #666666;border-radius:5px;}



@media (max-width:720px) {	
.ngtab h2{ font-size:15px;}
.ngtab h2 i{font-size:14px;}

.ngoum{width:100%;}
.ngoum_1{width:100%;}
.ng_xx b{width:100%; font-size:14px;}
.ng_xx b span{width:94px; text-align:right; float:left; line-height:35px; font-weight:normal}
.ng_xx b var{width: -webkit-calc(100% - 100px);width: calc(100% - 100px);}


.ng_but{width:95%;font-size:14px}
.ng_but_1{width:100%;font-size:14px}

.delicon{position:absolute; right:10px; top: inherit; bottom:10px;}
.detwo{ margin-top:30px !important}
.tianjia{width:95%;}
.tj_left{ margin-left:100px}
.ng_bu_t{width:49%;}

.xx_kp{ margin-left:0px;width:100%; display:table}
.ng_bu_date{width:32.1%; height:35px; border:#e5e5e5 1px solid; background:#ffffff;padding:0 5px; color:#666666; border-radius:5px;font-family:"Microsoft YaHei UI";}


.xx_khinput{width:22.7%}
.xx_text{width:3%;}
.xcard{width:100%}
.xcard_input{width:77%;}

}


@media (max-width:320px) {
.ng_xx b span{width:85px; text-align:right; float:left; line-height:35px; font-weight:normal; font-size:12px;}
.ng_xx b var{width: -webkit-calc(100% - 90px);width: calc(100% - 90px);font-size:12px;}
.bt{width:5px; float:left}

.ng_but_1{width:100%;font-size:12px}
.ng_but{font-size:12px}
.xcard_input{width:74%;}
.xcard_text{ font-size:12px}
}


.ngoum_jt{width:670px;background:#333;margin:0 auto; margin-top:20px; border-radius:5px; height:45px; line-height:45px; color:#ffffff; text-align:center; font-weight:bold}
.ngoum_jt span{ margin-left:25px; margin-right:25px}
.ngoum_jt span i{ margin-left:10px; font-style:normal}


.gmbut{ margin:0 auto; margin-top:30px; margin-bottom:60px}
@media (max-width:720px) {	
.ngoum_jt{width:95%; margin:0 auto; margin-top:20px}
.ngoum_jt span{ margin-left:5px; margin-right:5px;}
.ngoum_jt span i{ margin-left:5px; font-style:normal}

}

@media (max-width:320px) {
.ngoum_jt span{ margin-left:5px; margin-right:5px; font-size:12px;}
.gmbut{width:85%;margin-bottom:40px;margin-top:20px; }
}


.pjfont{text-align: justify;text-align-last: justify; float:left; font-weight:normal;width: -webkit-calc(100% - 10px);width: calc(100% - 10px); float:right; font-family:"Microsoft YaHei UI"}
.pone{ padding-left:10px}
@media (max-width:320px) {
.pjfont{width: -webkit-calc(100% - 8px);width: calc(100% - 8px); float:left }
}

.gwcg{width:96%; margin:0 auto;}
.ge_mar{ margin:6px 0 0 0}
.gwcg li{width:100%; display:table; border-bottom:#eeeeee 1px solid; padding:8px 0}
.gwcg li:last-child{border-bottom:none}

.gwcg li .icon{width:50px; float:left; height:30px;}
.gwcg li .icon img{ height:25px; vertical-align:middle; margin-top:3px}
.gwcg li .nextfont{ float:right;line-height:30px;width: -webkit-calc(100% - 60px);width: calc(100% - 60px);}

.gwcg li .font1{ float:left;width:80px;text-align: justify;text-align-last: justify; line-height:30px; color:#666}
.gwcg li .font2{ float:right;line-height:30px;width: -webkit-calc(100% - 120px);width: calc(100% - 120px);}
.gwcg li .font2 dl{ line-height:20px; margin-top:5px}

.gwcg_tab{width:94%; margin:0 auto; padding:10px 0; background:#f5f5f5; border-radius:10px;}
.gwcg_tab dl{width:94%; margin:0 auto; display:table; margin-bottom:20px;}
.gwcg_tab dl:last-child{ margin-bottom:0px;}
.gw_img{width:50px; float:left}
.gw_img img{width:50px; height:50px;}
.gw_nextfont{ float:right;line-height:30px;width: -webkit-calc(100% - 60px);width: calc(100% - 60px);}
.gw_nextfont h3{ font-size:15px; line-height:25px}
.gw_nextfont h4{ font-size:14px; color:#666}

.gwtop{ margin-top:5px;}
@media (max-width:720px) {	
.gwcg li .icon{width:40px; float:left; height:30px;}
.gwcg li .nextfont{ float:right;line-height:30px;width: -webkit-calc(100% - 50px);width: calc(100% - 50px);}

.gwcg li .font1{ float:left;width:60px;text-align: justify;text-align-last: justify; line-height:30px; color:#666}
.gwcg li .font2{ float:right;line-height:30px;width: -webkit-calc(100% - 80px);width: calc(100% - 80px);}




}

@media (max-width:320px) {	
.gwcg li .icon{width:30px; float:left; height:30px;}
.gwcg li .nextfont{ float:right;line-height:30px;width: -webkit-calc(100% - 35px);width: calc(100% - 35px);}

.gwcg li .font1{ float:left;width:60px;text-align: justify;text-align-last: justify; line-height:30px; color:#666}
.gwcg li .font2{ float:right;line-height:30px;width: -webkit-calc(100% - 70px);width: calc(100% - 70px);}

}

.m_tejia{color:#999; text-decoration:line-through; margin-left:5px}


.us{width:100%; background:url(../images/usbg.png) top no-repeat}
.uscont{width:991px; margin:0 auto;}
.us_ct{width:100%; background:#eaeaea; display:table; border-radius:10px; padding:20px 0; margin-top:15px;}
.us_ct li{width:95%; padding:15px 10px; margin:0 auto; background:#fbfbfb; border-radius:10px; display:table; margin-bottom:15px; color:#333333}
.us_ct li img{float:left;width:40px; margin-top:5px;}
.us_ct li h2{width: -webkit-calc(100% - 50px);width: calc(100% - 50px);font-size:18px; float:right; line-height:25px;}
.us_ct li:last-child{margin-bottom:0}


.licheng{ margin:0 auto; margin-top:80px;}

@media (max-width:992px) {	
.uscont{width:95%; margin:0 auto;}
.us_ct{width:95%; margin:0 auto;background:#eaeaea; display:table; border-radius:10px; padding:20px 0; margin-top:15px;}
.us_ct li{width:95%;}
.licheng{ margin:0 auto; margin-top:40px;width:90%;}

}


.lnbg{ padding-bottom:20px;}
.ln_top{ margin-top:15px;}
.linian{width:98%; margin:0 auto;}


@media (max-width:992px) {	
.linian{width:100%; margin:0 auto;}

}

.n_zixun{width:90%; margin:0 auto; display:table; padding:20px 0;}
.n_zlist{width:100%; line-height:30px; padding:10px; color:#333333; font-size:16px;background:-moz-linear-gradient(left,#67c55f,#FFF);/*Mozilla*/
background:-webkit-gradient(linear,0 50%,100% 50%,from(#67c55f),to(#FFF));/*Old gradient for webkit*/
background:-webkit-linear-gradient(left,#67c55f,#FFF);/*new gradient for Webkit*/
background:-o-linear-gradient(left,#67c55f,#FFF); font-size:18px; font-weight:bold}


.n_zimg{ margin-top:20px; margin-bottom:20px;}

.n_zfont{width:100%; background:#f5f5f5; border-radius:2px; display:table; padding:25px 20px 20px 20px; margin-top:20px; font-size:16px; line-height:30px; margin-bottom:20px;}
.n_zfont p{ line-height:30px}
.n_text{width:100%; margin:0 auto; background:#eef9ed; border:#67c55f 1px dashed; border-radius:10px; padding:20px 20px; font-size:18px; line-height:30px; color:#333; float:right}
.nt_line{width:100%; height:2px; background:#67c55f; margin-bottom:15px;}

.nt_cet{ margin:0 auto; display:table}
.ntp0{ padding:0 !important}
@media (max-width:992px) {	
.n_text{width:100%;padding:10px 10px; font-size:16px; }
.ntp0{ padding:0 !important}
}


.jklist{width:100%; margin:0 auto; display:table; background:#fef8d1; margin-top:20px}
.jklist li{width:90%; padding:20px 0; border-bottom:#f0e8b3 1px solid; margin:0 auto; display:table}
.jklist li img{float:left;width:140px; margin-top:5px;}
.jklist li .jkfont{width: -webkit-calc(100% - 160px);width: calc(100% - 160px);font-size:18px; float:right; line-height:25px;}
.jklist li .jkfont h2{ font-size:18px; font-weight:bold; line-height:30px;}
.jklist li .jkfont h3{ font-size:16px; line-height:25px;}
.jklist li:last-child{border-bottom:none;}


.jktop{ margin-top:20px;}
.jktop1{ margin-top:10px;}


.jkleft{ float:left}
.jkright{ float:right}
.jkcent{ margin:0 auto}

.jkleftc{width:95%; height:440px;background:#56c595; padding:30px 20px; margin-top:20px; color:#ffffff}
.jkyuan{width:70px; height:70px; border-radius:100px; background:#ffffff; line-height:70px; text-align:center; color:#56c595; font-size:45px; font-weight:bold; margin:0 auto;}

.jktitle{ text-align:center; font-size:25px; font-weight:bold; padding:20px 0}
.jk_font{ font-size:16px; line-height:25px;}

.jkbg2{ background:#95ca61}
.jkt_f{ color:#95ca61}

.jkbg3{ background:#188093}
.jkt_f1{ color:#188093}

@media (max-width:1024px) {	
.jkleftc{width:95%; height:490px;}
}

@media (max-width:992px) {	
.jktop{ margin-top:0px;}
.jktop1{ margin-top:0px;}

.jklist li img{float:left;width:80px; margin-top:5px;}
.jklist li .jkfont{width: -webkit-calc(100% - 90px);width: calc(100% - 90px);font-size:18px; float:right; line-height:25px;}


.jkleftc{width:100%; height:auto;}
.jkyuan{width:50px; height:50px;line-height:50px;font-size:35px; }


}

@media (max-width:720px) {
.jklist li img{float: none;width:140px; margin:0 auto; display:table;margin-top:5px; margin-bottom:10px}
.jklist li .jkfont{width:100%;font-size:18px; float:right; line-height:25px;}


}




.jktable{width:100%; display:table; }
.jktable table{width:100%; background:#ffebc6;margin-top:30px}
.jktable table tr th{ padding:15px 15px; font-size:16px; line-height:25px}
.jktable table tr td{ padding:25px 15px; font-size:16px; line-height:25px}
.jktable table tr td span{ display:block;}
.jk_top{color:#ffcc3b !important; font-size:30px !important; font-weight:bold;text-align:center;width:100%;}
.jk_ft{ color:#ffcc3b !important; font-size:20px !important; font-weight:bold}

@media (max-width:992px) {	
.jktable table tr th{ padding:5px 10px; font-size:14px; line-height:20px}
.jktable table tr td{ padding:5px 10px; font-size:14px; line-height:20px}
.jk_top{color:#ffcc3b !important; font-size:18px !important; font-weight:bold;text-align:center;width:100%;}
.jk_ft{ color:#ffcc3b !important; font-size:16px !important; font-weight:bold}

}


.xs{ margin-bottom:20px; margin-top:20px;}
.xsbot{width:100%; padding-top:20px; padding-bottom:30px; display:table}
.xsleft{ float:left;width:300px; }
.xsright{width: -webkit-calc(100% - 330px);width: calc(100% - 330px);font-size:18px; float:right; margin-top:20px; }
.xsright p{font-size:16px}

@media (max-width:992px) {	
.xsbot{width:100%; padding-top:20px; padding-bottom:0px; display:table}
.xsleft{ float:left;width:100%; }
.xsright{width:100%;font-size:18px; float:right; margin-top:20px; }
.xsright p{font-size:16px}
}

.xsfline{ line-height:26px !important}
.xstop{ margin-top:20px}

.n_zixun_1{width: 90%;margin: 0 auto;display: table;}
.n_zfont_1{width: 100%;background: #f5f5f5;display: table;padding:25px 20px 25px 20px;margin-top: 20px;font-size: 16px;line-height: 30px;margin-bottom: 20px;}

.t_zfont{width: 100%;display: table;padding:25px 20px 25px 20px;margin-top: 20px;font-size: 16px;line-height: 30px;margin-bottom: 20px;}
.t_zfont img{ margin-bottom:20px}

.nebg{background: #f5f5f5; line-height:28px; min-height:800px;width:100%;}
.ne_f14{ font-size:14px; line-height:23px !important}

@media (max-width:992px) {	
.t_zfont{width: 100%;display: table;padding:0px 20px 0px 20px;margin-top: 20px;font-size: 16px;line-height: 30px;margin-bottom:0px;}
.nebg{ padding:20px 20px 20px 20px}
.n_top20{ margin-top:20px;}
.n_po{ padding:0}
}


@media (max-width:790px) {	
.nebg{ min-height:auto;}
}


.n_tab{width: 100%;display: table;padding:25px 20px 25px 20px; border:#e5e5e5 2px solid;margin-top: 20px;font-size: 16px;line-height: 30px;margin-bottom: 20px;}
.n_tab01{border-left:#e5e5e5 2px solid; padding:20px 0px 20px 20px}

.n_timg{width:260px; margin:0 auto; display:block; margin-bottom:20px}
.n_nwf{width:100%;}
.n_nwf img{width:70%; margin:0 auto; display:table}
.n_nwf h2{width:70%; background:#333; margin:0 auto;padding:10px 10px; line-height:23px; color:#ffffff; font-size:14px; text-align:center;}


@media (max-width:720px) {	
.n_tab01{border-left:none; padding:20px 0px 20px 0px}
.n_nwf img{width:100%;}
.n_nwf h2{width:100%;}
}

