table {margin-top:1%;margin-bottom:2%;}
table tr td a.btn {margin-top:5px;}
table th,table td {padding:10px;}
table ,table th,table td {border-width:2px !important;}
textarea {width:60%;height:150px;}
#faq_type_required_block {height:0;}
#faq_group_engroupvip_required_block {height:0;}
.for_form_elt_label {padding-right:15px;}
.for_form_elt_label > input {margin-right:5px;}
#main > h1 {margin-bottom:2%;}
div > h3 {margin-top:3%;}
table tr td .btn-secondary:hover {
    color: #fff !important;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

table tr td .btn-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

table tr td .btn-secondary:not(:disabled):not(.disabled).active:focus, table tr td .btn-secondary:not(:disabled):not(.disabled):active:focus, table tr td .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%) !important;
}

table tr td .btn-secondary:not(:disabled):not(.disabled).active, table tr td .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #545b62 !important;
    border-color: #4e555b !important;
}

table tr td .btn-secondary.focus, table tr td .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%) !important;
}

table tr td .btn-secondary:hover {
    color: #fff !important;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

#main {
    padding-bottom:10%;
}
