@charset "utf-8";
/* CSS Document */


/*3-1*/
.conterleft{float:left; padding:0px 15px; display:table; text-align:center}
.conterleft span{display:block;line-height:25px}
.conterleft img{width:30px; height:30px;}
.conterleft i{ height:35px; line-height:35px;}
.coicon{font-size:20px;}
.coicon01{font-size:25px; background: url('../images/zuji.png') no-repeat;background-size: contain;display: inline-block;height: 25px;width: 25px;background-position: 0 5px;}
.conterleft .coicon01{height: 30px;}
.conterleft a{ color:#ffffff}
.conterleft a:hover{ color:#ffffff}
.icon-liuyan{font-size:25px; background: url('../images/logOut.png') no-repeat;background-size: contain;display: inline-block;height: 25px;width: 25px;background-position: 0 5px;}


@media (max-width:767px){
.conterleft{float:left;width:20%; padding:0px; display:table; text-align:center}
.conterleft span{display:block;line-height:25px}
.conterleft img{width:30px; height:30px;}
.conterleft i{ height:35px; line-height:35px;}
.coicon{font-size:24px;}
.conterleft .icon-liuyan{height:30px; line-height:30px;}
}

.zlleftbg{ background:#f8f5f0;min-height: 384px !important;}
.zleft{ padding:40px 0px 20px 0}
.zleft01{ padding:20px 0px 20px 0}

@media (min-width:370px){
    .zlleftbg{min-height: 490px !important;}
}

.zlfont{width:200px; margin:0 auto; padding:0px; display:table; margin-bottom:50px}
.zlfont span{ font-size:20px;font-weight:bold; margin:0 auto; padding:0px; display:table}
.zlfont span img{ margin-left:10px;}
.zlfont_img{width:90px; height:90px; border-radius:100px;margin:0 auto; padding:0px; display:table; margin-bottom:10px;}

.zllist{width:100%; margin:0 auto; padding:0px; display:table; margin-bottom:50px}
.zllist a{width:100%; display:table;font-size:16px; color:#b5b5b5;padding:10px 0; height:40px;position:relative}
.zllist a span{position:absolute; left:50px;}
.zllist a i{width:4px; height:25px; background:#9f8e63;position:absolute; left:30px;}
.zllist a:hover{background:#e9e2d4}
.zllist_on{color:#9f8e63 !important;background:#e9e2d4; display: block;}

.zlrightbg{background:url(../images/11.png) bottom right no-repeat #fff;}

.zlkuang{width:96%; margin-left:2%; background:#ffffff;box-shadow: 0 0 10px #eee9e5; margin-top:30px; border:1px solid #ddd; margin-bottom:60px}
.zlxc{width:96%; margin:0 auto; padding:20px 0px 60px 0; display:table}
.zlxctitle{width:100%; height:50px; line-height:50px; border-bottom:#ddd 1px solid; font-size:20px; font-weight:bold}

.group{width:100%; padding-bottom:15px; display:table; margin-top:20px}
.grline{ border-bottom: #e0e0e0 1px dashed}
.grouttitle{ color:#666666; font-size:16px; margin-left:20px; margin-bottom:10px}
.group_but{width:110px; height:35px; background:#d5c2a4; border-radius:5px; color:#fff; margin-top:-2px}

.gradd{width:60px; border:#eeeeee 1px solid; color:#666666; display:table; text-align:center; margin-left:15px; padding:5px 0;}
.grtwo{ margin-bottom:10px;}
.group:last-child{ border:none; }

.gr_top{ margin-top:5px;}

.grxiphoto{width:100%; display:table; margin-top:20px;}
.grxiphoto li img{width:100%;height:140px;}
.grxiphoto li a{ display:block; color:#e65858; text-align:left; line-height:30px;}


.grtu{ background:url(../images/z_03.png) right no-repeat}
.grtu01{ background:url(../images/z_06.png) right no-repeat}

@media (max-width:1024px){
.group_but{ margin-top:0px}
}
@media (max-width:992px){
.zleft{ display:none}
}
@media (max-width:767px){
	
.gradd{ float: right}
	
	
.zleft{ display:none}
.zlxctitle{width:100%; height:40px; line-height:40px; border-bottom:#ddd 1px solid; font-size:16px; font-weight:bold}
.grouttitle{ color:#666666; font-size:14px; margin-left:5px; margin-bottom:10px}
.group_but{width:100px; height:30px; background:#d5c2a4; border-radius:5px; color:#fff; margin-top:10px}
.gradd{width:60px; border:#eeeeee 1px solid; color:#666666; display:table; text-align:center; margin-left:10px; padding:3px 0; margin-top:2px}


.grxiphoto{width:100%; display:table; margin-top:20px;}
.grxiphoto li img{width:96%;height:130px; margin-left:2%;}
.grxiphoto li a{ display:block; color:#e65858; float:left; line-height:30px;}
}


.grzltable{ margin:0 auto; padding:0px; display:table; margin-top:20px; margin-bottom:20px;}
.grbt{width:150px; height:30px; line-height:30px;color:#e65858; background:#ffe3e3; text-align:center;margin:0 auto; padding:0px; display:table; border-radius:50px; margin-bottom:20px;}
.grrow{width:100%; display:table; margin-bottom:10px;}
.grrow span{width:100px; float:left; font-size:14px; color:#8c7e7e;line-height:35px; }
.grrow_icon{ color:#e65858; margin-right:5px;}
.grrow font{width:500px; float:left}
.form_co{ border:#dddddd 1px solid;width:100%; line-height:35px; border-radius:4px; padding-left:5px}

.fromtop{ margin-top:10px;}
.fromright{width:100%; display:table; text-align:right}


@media (max-width:767px){
.grzltable{width:96%;margin:0 auto; padding:0px; display:table; margin-top:20px; margin-bottom:20px;}
.grbt{width:150px; height:30px; line-height:30px;color:#e65858; background:#ffe3e3; text-align:center;margin:0 auto; padding:0px; display:table; border-radius:50px; margin-bottom:20px;}
.grrow span{width:25%; float:left; font-size:14px; color:#8c7e7e;line-height:35px; }
.grrow font{width:75%; float:left}
}

.grzltable01{width:90%; margin:0 auto; padding:0px; display:table; margin-top:20px; margin-bottom:20px;}
.grrow_1{width:100%; margin:0 auto; padding:0px; display:table}
.grrow_1 h2{ font-size:14px; display:table;color:#8c7e7e; line-height:30px; padding:0; margin:0px}

@media (max-width:767px){
.grzltable01{width:96%; margin:0 auto; padding:0px; display:table; margin-top:20px; margin-bottom:20px;}
.grrow_1{width:100%; margin:0 auto; padding:0px; display:table}
.grrow_1 h2{ font-size:14px; display:table;color:#8c7e7e;}
}

.growtext{ text-align:center; font-size:14px; color:#e65858}
.cxbutton{width:230px; height:45px; line-height:45px;background:#d5c2a4; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:5px; font-size:18px;}
.cxbutton02{width:230px; height:45px; line-height:45px;background:#e65757; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:5px; font-size:18px;}

@media (max-width:767px){
.cxbutton{width:90%; height:45px; line-height:45px;background:#d5c2a4; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:5px; font-size:18px;}
.cxbutton02{width:90%; height:45px; line-height:45px;background:#e65757; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:5px; font-size:18px;}
}

.liuyan{background: #fff; min-height:1000px}

.lytitle{width:100%; background:#faeded; height:50px; line-height:50px; display:table; color:#e65757; font-size:20px; font-weight:bold;}
/*.lytitle i{width:4px; height:20px; background:#e65757; margin-left:20px; margin-right:10px; display:table; float:left; margin-top:15px}*/

.lyform_co{ border:#dddddd 1px solid;width:100%; line-height:35px; border-radius:4px; margin-top:15px;}
.lytop{ margin-top:10px; display:table;width:100%;}
.lybutton{width:120px; height:40px; line-height:40px; float:right; background:#e65757; text-align:center; color:#ffffff; border:none; border-radius:5px; margin-left:10px;}
.lybutton01{width:120px; height:40px; line-height:40px; float:right; background:#e5e5e5; text-align:center; color:#000000; border:none; border-radius:5px; margin-left:10px;}
@media (max-width:767px){
.lybutton{width:48%; height:40px; line-height:40px; float:right; background:#e65757; text-align:center; color:#ffffff; border:none; border-radius:5px; margin-left:0px;}
.lybutton01{width:48%; height:40px; line-height:40px; float:right; background:#e5e5e5; text-align:center; color:#000000; border:none; border-radius:5px; margin-left:10px;}

.liuyan{background: #fff;min-height:auto;}

}

.l_zlxc{width:98%; margin:0 auto; padding:20px 0px 10px 0; display:table}

.l_zleft{ float:left;width:80px;}
.l_zright{ float:right;width:calc(100% - 90px)}

.liuyannr{width:98%; background:#fff8f8; margin:0 auto;display:table; margin-top:10px; padding:10px 0 30px 0; margin-bottom:30px;}
.liuyannr li{width:98%; border-bottom:#e4c6c6 1px solid; padding:15px 0; display:table; margin-left:1%;}
.lyphoto{ border-radius:100px;width:80px; height:80px;}
.ly_next{width:100%; display:table}
.ly_next h2{ font-size:16px; padding:0px; margin:0px; font-weight:bold; line-height:30px;}
.ly_next h3{ font-size:14px; padding:0px; margin:0px; color:#999999; line-height:30px}
.ly_next h4{ font-size:14px; color:#333333; padding:0px; margin:0px; line-height:20px;}


@media (max-width:767px){
.lyphoto{ border-radius:100px;width:60px; height:60px}
.l_zleft{ float:left;width:60px;}
.l_zright{ float:right;width:calc(100% - 70px)}


.liuyannr{width:100%; background:#fff8f8; display:table; margin-top:10px; padding:10px 0 30px 0; margin-bottom:0px;}
.liuyannr li{width:98%; border-bottom:#e4c6c6 1px solid; padding:15px 0; display:table; margin-left:1%;}


}
.l_more{width:120px; height:40px; line-height:40px; background:#ffffff; text-align:center; color:#666666; margin:0 auto; padding:0px; display:table; margin-top:20px; border-radius:50px;box-shadow: 0 0 20px #fcbcbc;}



.sz_vip{ margin:0 auto; padding:0px; display:table; margin-top:30px; margin-bottom:30px;}
.sz_vip h2{ color:#e65757; font-size:22px; font-weight:bold; text-align:center}
.sz_vip h3{ color:#666666; font-size:16px; text-align:center; padding-bottom:10px}
.sz_vip img{width:70%; margin:0 auto; padding:0px; display: block; margin-bottom:40px;}

.sz_vip_font{width:90%; background:#eeeeee; font-size:14px; line-height:20px; margin:0 auto; padding:5px; display:table;margin-bottom:20px;}

@media (max-width:767px){
.sz_vip h3{ padding-bottom:10px}
.sz_vip img{width:90%; margin:0 auto; padding:0px; display: block; margin-bottom:20px;}

}

.se_leftbg{width:94%; margin:0 auto; padding:0px; display:table}
.se_title{font-size:16px; color:#333333;margin-top:10px; margin-bottom:5px}
.se_title span{ float:right; font-size:14px; font-weight:normal; margin-top:8px;}
.se_but{width:100%; display:table; margin-top:20px;}

.se_title01{font-size:16px; color:#333333;margin-top:10px; margin-bottom:10px}
.se_title01 span{ float:right; font-size:14px; font-weight:normal; margin-top:8px;}


.se_button{width:48%; height:40px; line-height:40px; float:left; background:#d0bd9f; text-align:center; color:#ffffff; border:none; border-radius:5px;}
.se_button01{width:48%; height:40px; line-height:40px; float:left; background:#ffffff; text-align:center; color:#666666; border:none; border-radius:5px; margin-left:4%}

.se_search{width:100%; display:table; margin-top:10px;}
.se_search span{ margin-bottom:6px; display:table;width:100%;}


.se_wu{ margin:0 auto; padding:0px;display:table;width:96%;margin-top:40px; margin-bottom:40px; }


.sebotbut{width:230px; height:45px; line-height:45px;background:#f6eee2; border:#d0bd9f 1px solid; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#d0bd9f; border-radius:50px; font-size:18px;}
.sebotbut02{width:230px; height:45px; line-height:45px;background:#d0bd9f; border:#d0bd9f 1px solid; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:50px; font-size:18px;}

@media (max-width:767px){
.sebotbut{width:90%; height:45px; line-height:45px;background:#f6eee2; border:#d0bd9f 1px solid; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#d0bd9f; border-radius:50px; font-size:18px;}
.sebotbut02{width:90%; height:45px; line-height:45px;background:#d0bd9f; border:#d0bd9f 1px solid; margin:0 auto; padding:0px; display:table; margin-top:15px; color:#ffffff; border-radius:50px; font-size:18px;}
}

.serightpe{width:100%; display:table; margin:40px 0 20px 0;}
.serightpe ul{ border-bottom:#eeeeee 1px solid;/*width:100%; */display:table}
.serightpe ul li{ margin-bottom:30px;}
.serightpe_img{width:110px; height:136px; float:left}
.serightpe_img img{width:110px; height:136px;border-radius:5px;}
.serightpe_font{width: calc(100% - 150px);float:right}
.serightpe_font h2{font-size: 16px;padding: 0px;margin: 0px;font-weight: bold;line-height: 30px;}
.serightpe_font h3{padding: 0px;margin: 0px; line-height:25px}
.serightpe_font h3 span{ margin-right:10px;}

.setext{width:100%; display:table}
.setext h4{ float:left;width:33.3%; color:#000000; line-height:25px; padding:0px; margin:0px}
.setext h4 span{ color:#666666; font-weight:bold}

.setextbut{ display:table; margin-top:6px;}
.setextbut a{width:60px; line-height:25px; background:#eeeeee; float:left; margin-right:10px; text-align:center; color:#666666}
.setextbut .linklized{
    border: none;
    width: 60px;
    line-height: 25px;
    background: #eeeeee;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #666666;
}
.linklized{
    border: none;
    width: 60px;
    line-height: 25px;
    background: #eeeeee;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #666666;
}
.se_bg{ background:#d5c2a4 !important; color:#ffffff !important}


.se_page{ margin:0 auto; padding:0px; display:table; margin-top:20px;}
.se_page a{width:60px; border:#eeeeee 1px solid; border-radius:50px; padding:8px 30px; margin:0px 10px}
.se_page a:hover{ background:#cdc6b3; color:#ffffff; border:#cdc6b3 1px solid;}


@media (max-width:767px){
.serightpe{width:100%; display:table; margin:20px 0 20px 0;}
.serightpe ul{ border-bottom:none;/*width:100%;*/ display:table}
.serightpe ul li{margin-bottom:20px; border-bottom:#e4e4e4 1px dashed; padding-bottom:20px}
.serightpe_img{width:110px; height:136px; float:none; margin:0 auto; padding:0px; display:table}
.serightpe_img img{width:110px; height:136px;border-radius:5px;}

.serightpe_font{width:100%;float:none}
.serightpe_font h2{font-size: 16px;padding: 0px;margin: 0px;font-weight: bold;line-height: 30px; text-align:center}
.serightpe_font h3{ text-align:center}
.serightpe_font h3 span{ margin-right:5px; margin-left:5px;}

.setext{width:80%; display:table; margin-left:10%; margin-top:10px; margin-bottom:15px;}
.setext h4{ float:left;width:45%; color:#000000; line-height:25px; padding:0px; margin:0px; margin-left:5%;}
.setext h4 span{ color:#666666; font-weight:bold;width:50%; float:left}

.setextbut{margin:0 auto; padding:0px;display:table; margin-top:6px;}
.setextbut a{width:75px; line-height:30px; background:#eeeeee;text-align:center; color:#666666;margin-right:10px; }
.setextbut .linklized{
    border: none;
    width:75px; 
    line-height:30px; 
    background:#eeeeee;
    text-align:center; 
    color:#666666;
    margin-right:10px; 
}
.linklized{
    border: none;
    width:75px; 
    line-height:30px; 
    background:#eeeeee;
    text-align:center; 
    color:#666666;
    margin-right:10px; 
}

.se_page{ margin:0 auto; padding:0px; display:table; margin-top:5px; margin-bottom:5px;}

}


@media (max-width:1024px){
.serightpe{width:100%; display:table; margin:20px 0 20px 0;}
.serightpe ul{ border-bottom:none;/*width:100%;*/ display:table; margin:0 auto}
.serightpe ul li{margin-bottom:20px; border-bottom:#e4e4e4 1px dashed; padding-bottom:20px}
.serightpe_img{width:110px; height:136px; float:none; margin:0 auto; padding:0px; display:table; margin-bottom:10px;}
.serightpe_img img{width:110px; height:136px;border-radius:5px;}

.serightpe_font{width:100%;float:none}
.serightpe_font h2{font-size: 16px;padding: 0px;margin: 0px;font-weight: bold;line-height: 30px; text-align:center}
.serightpe_font h3{ text-align:center}
.serightpe_font h3 span{ margin-right:5px; margin-left:5px;}

.setext{width:80%; display:table; margin-left:10%; margin-top:10px; margin-bottom:15px;}
.setext h4{ float:left;width:45%; color:#000000; line-height:25px; padding:0px; margin:0px; margin-left:5%;}
.setext h4 span{ color:#666666; font-weight:bold;width:35%; float:left}

.setextbut{margin:0 auto; padding:0px;display:table; margin-top:6px;}
.setextbut a{width:75px; line-height:30px; background:#eeeeee;text-align:center; color:#666666;margin-right:10px; }
.setextbut .linklized{
    border: none;
    width:75px; 
    line-height:30px; 
    background:#eeeeee;
    text-align:center; 
    color:#666666;
    margin-right:10px; 
}
.linklized{
    border: none;
    width:75px; 
    line-height:30px; 
    background:#eeeeee;
    text-align:center; 
    color:#666666;
    margin-right:10px; 
}
.se_page{ margin:0 auto; padding:0px; display:table; margin-top:5px; margin-bottom:5px;}


.liuyannr {margin-bottom:0px;}
.liuyan{ min-height:600px}
}

.popicon{width:22px; margin-right:10px}

.ponewicon{width:100%; display:table; margin-top:20px}
.ponewicon li{ float:left;width:80px;}
.ponewicon li img{ display:table; margin:0 auto; padding:0px;width:40px;}
.ponewicon li span{width:100%;display:table; text-align:center; font-size:14px; color:#333333; line-height:30px}

.polfont{height:20px; margin:0 auto;display:table}

@media (max-width:767px){
.ponewicon li{ float:left;width:40px;}
.ponewicon li img{ display:table; margin:0 auto; padding:0px;width:30px;}
.ponewicon li span{width:100%;display:table; text-align:center; font-size:12px; color:#333333; line-height:30px}

}

.vipfont{font-size:16px; color:#333333;margin-top:10px;padding-bottom:5px; display: block;width:100%;}
.vipfont font{ float:left; padding-bottom:5px;}
.vipfont span{ float:right; font-size:14px}

/*12-3*/
.lytitle{width:100%; background:#faeded; height:50px; line-height:50px; display:table; color:#e65757; font-size:20px; font-weight:bold;}
.lytitle i{width:4px; height:20px; background:#e65757; margin-left:20px; margin-right:10px; float:left; margin-top:15px}

.hypic{width:110px; height:136px;}



.blbg{width:100%; height:100%;width: 100%;height: 100%;position: fixed;top: 0px;left: 0;background: rgba(0,0,0,0.5);z-index: 9;display:none;}
.bl_tab{width:20%;background:#ffffff;border-radius:5px;position: absolute;right:10px;top:80px;z-index: 10;display:none; padding:20px 0 20px 0}

.bl_icon{width:95%; margin:0 auto; padding:0px; display:table}
.bl_icon li{width:25%; float:left}
.bl_icon li img{width:40px; margin:0 auto; display:block}
.bl_icon li font{width:100%; text-align:center; display:block; line-height:30px}

.bl_gb{position:absolute; top:-14px; right:-8px;}
.bl_gb img{width:30px;}

.blmid{ min-height:600px}

.yicw{width:110px; margin:0 auto; display:table}
.yichub{position: relative}
.yichu{left: 46px;border:0;position: absolute; top:5px; font-size:14px; background:rgba(0,0,0,0.5); padding:0 10px; border-radius:50px; color:#ffffff; margin:0 5px}

@media (max-width:767px){
.bl_tab{width:80%;background:#ffffff;border-radius:5px;position: absolute;right:10px;top:160px;z-index: 10;display:none; padding:20px 0 20px 0}
.blmid{ min-height:550px}


}


.yichu_t{ background:#e65757; font-size:14px; padding:0 10px; color:#ffffff; height:25px; line-height:25px; border-radius:5px; float:right; margin-top:12px; margin-right:10px}
.yichu_t:hover{ color:#ffffff}
.jt{position:absolute;top: -9px;width: 25px; right:100px}


.ffs{ margin-top:8px}
.weui_mt19{ margin-top:19px}
.huiyuan{width:95%; margin:0 auto !important; display:table !important}
.hylist{width:30%; float:left; margin:0 auto !important;}
.hylist2{width:23%; float:left; margin:0 auto !important;}


