html,body{height: 100%;}
/* 和 header ⼀樣，footer 也採⽤固定⾼度*/
/* 0 flex-grow, 0 flex-shrink, auto flex-basis */ 
.head_3{flex: 0 0 auto;}
.container{flex: 1 0 auto;}
.bot{
   flex: 0 0 auto;
}
body{ display: flex;flex-direction: column;}

.sjleft font {
    width: 600px;
}
.zcinput {
    height: 43px;
    line-height: 43PX;
    font-size: 15px;
    padding: 3px;
}
.d-none {display: none !important; }
/*新增加*/
@media (max-width:400px) {
	.chat{width: 100%;}
	/*.sjright {clear: both;margin-right: 10px;}*/
	.fenye a {margin: 0 10px;}
	.wk_lx span {width: 200px;margin-bottom: 4px;}
	.wk_lx {font-size: 16px;}
	.wk_lx font {padding-left: 25px;}
}

@media (max-width:767px) {
	.swname span {display: block;width: 180px;line-height: 15px;}
	.container{width: 100%;}
	.sjleft font{ width:220px;}
}

/*======= loading過場 =======*/
	.loader,
	.loader:before,
	.loader:after {
	  background: #ffffff;
	  -webkit-animation: load1 1s infinite ease-in-out;
	  animation: load1 1s infinite ease-in-out;
	  width: 1em;
	  height: 4em;
	}

	.loader {
	  color: #ffffff;
	  text-indent: -9999em;
	  margin: 300px auto 88px;
	  position: relative;
	  font-size: 11px;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}

	.loader:before,
	.loader:after {
	  position: absolute;
	  top: 0;
	  content: '';
	}

	.loader:before {
	  left: -1.5em;
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}

	.loader:after {
	  left: 1.5em;
	}

	@-webkit-keyframes load1 {

	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0;
	    height: 4em;
	  }

	  40% {
	    box-shadow: 0 -2em;
	    height: 5em;
	  }
	}

	@keyframes load1 {

	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0;
	    height: 4em;
	  }

	  40% {
	    box-shadow: 0 -2em;
	    height: 5em;
	  }
	}

	.loading-font {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1040;
	  background-color: #000;
	  opacity: .5;
	}
	/*======= loading過場 =======*/