@import "F:\Sourse\网页模版\fn\fn.styl"
@import "F:\Sourse\网页模版\fn\wap.styl"

test()

.mobile-wrap
    position relative
    min-height 100vh
    
.footer
    height 188px
    back('4f511_750x188.jpg')
    margin-top 80px
    p
        text-align center
        padding-top 51px
        a
            color #fff
            text-decoration underline
            display inline-block
            margin 0 10px
            font-size 22px
    b
        display block
        text-align center
        margin-top 35px
        a
            color #fff
            display inline-block
            margin 0 15px
            heightL 37px
            font-size 28px
            &.a1
                backi('e13ec_45x37.png',55px)
                background-size 45px
            &.a2
                backi('c3c22_29x29.png',39px)
                background-size 29px
.pub-tit
    text-align center
    padding 55px 0
    float 0
    strong
        backi('049b3_50x41.png',65px)
        background-size 50px
        font-size 40px
        display inline-block
        span
            color #ff4a6d
.ruguo
    float 0
    padding-bottom 447px
    position relative
    .scroll-view
        position relative
        float 0
        .pos
            center 2
            z-index 2
            img
                width 50px
            &.prev
                left 0
            &.next
                right 0
        ul
            li
                width 100%
                
                img
                    width 100%
    .look
        width 700px
        position absolute
        left 25px
        bottom 0
        .more
            dm 1
            width 300px
            height 56px
            line-height 56px
            border-radius 60px
            background #ffeded
            text-align center
            color #ff8989
        .box
            background #fff url(../img/776d8_313x258.png) right bottom/313px no-repeat
            box-shadow 0 5px 10px rgba(#ffb0bb,.6)
            float 0
            margin-top 32px
            padding 37px
            border-radius 20px
            ul
                li
                    width 100%
                    margin-top 44px
                    h3
                        color #333333
                        position relative
                        padding-left 52px
                        &:after
                            content ''
                            position absolute
                            width 30px
                            height 30px
                            back('3623d_30x30.png')
                            left 0
                    p
                        line-height 1.4
                        color #9d9d9d
                        margin-top 23px
                        padding-left 52px
                        text-align justify

.my-look
    padding 60px 24px 50px
    float 0
    h2
        font-weight bold
        font-size 40px
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff476d), to(#ff926c));
        color:transparent;
        -webkit-background-clip:text;
        span
            font-size 44px
            display block
            color #ffd7dc
            opacity 0.59
            text-transform uppercase
            font-weight bold
            position relative
            top -15px
            z-index -1
    ul
        margin-top 20px
        li
            width 340px
            box-shadow 0 3px 10px rgba(#ffb0bb,.59)
            border-radius 10px
            fre 1
            img
                width 100%

.kuaisu
    float 0
    ul
        li
            width 100%
            padding 39px 20px
            &:nth-child(odd)
                background #fff0f2
            .pict
                width 122px
                img
                    width 100%
            .text
                widthC 122px
                &.fr
                    padding-left 20px
                &.fl
                    padding-right 20px
                    text-align right
                h3
                    font-size 30px
                    color #ff486d
                    margin-top 25px
                p
                    font-size 24px
                    color #ea8b98
                    line-height 1.4
                    margin-top 10px

.header
    backgroundL #ff406d #ff926c
    float 0
    border-radius 0 0 0 120px
    .top
        float 0
        padding 40px 40px 0
        .fl
            h2
                font-size 28px
                backi('8fe9b_45x37.png',55px)
                line-height 55px
                background-size 45px
                color #fff
        .fr
            h4
                line-height 55px
                backi('2e72e_25x29.png',35px)
                background-size 25px
                color #fff
                float left
            p
                float left
                line-height 29px
                width 215px
                height 55px
                border-radius 50px
                background #f14164
                margin-left 30px
                a
                    float left
                    color #fff
                    width 50%
                    text-align center
                    line-height 55px
                    &:last-child
                        position relative
                        &:after
                            content ''
                            center 2
                            left 0
                            width 1px
                            height 20px
                            background #fff

    .text
        float 0
        padding 20px 22px 0
        .fl
            margin-top 33px
            width 490px
            overflow hidden
            h1
                font-size 62px
                color #fff
                line-height 1.1
            p
                background #ef615c
                color #fff
                line-height 50px
                padding 0 20px
                margin-top 40px
                font-size 22px
                border-radius 50px
                display inline-block
                ov 1
                transform scale(0.9)
                transform-origin left top
                text-align center
        .fr
            width 212px
            img
                width 100%
.taiwan
    height 502px
    back('693ce_750x502.jpg')
    .top
        background rgba(#000,.2)
        position relative
        float 0
        padding 20px 30px
        .fl
            a
                color #fff
                margin-left 30px
                ml 0
                font-size 22px
        .logo
            center 3
            img
                width 206px
        .fr
            a
                color #fff
                border-radius 30px
                font-size 22px
                padding 0 20px 
                &.login
                    border 1px solid #fff
    .text
        padding 66px 30px 0
        float 0
        h2
            font-size 36px
            color #fff
            padding-bottom 25px
        p
            font-size 24px
            color #fff
            line-height 1.4
        span
            color #fff
            font-size 26px
            border-top 1px solid #fff
            display inline-block
            margin-top 30px
            padding-top 15px
    .baobei
        margin-top 65px
        float 0
        padding 0 37px
        position relative
        .ico-i1
            width 34px
            height 29px
            back('b76f8_34x29.png')
            center 3
        a
            width 46%
            text-align center
            line-height 2
            border-radius 30px
            &.fl
                color #884f8e
                border 1px solid #884f8e
            &.fr
                border 1px solid #fff
                background #703b8b
                color #fff

.back
    background #622949
    float 0
    padding-bottom 80px
    .anquan
        position relative
        height 440px
        .up-down
            width 38px
            height 38px
            back('01fed_38x38.png')
            center 1
            top -19px
        .card
            width 270px
            height 280px
            back('90ad6_270x280.png')
            position absolute
            padding-top 25px
            i
                width 100%
                height 75px
                &.ico-i1
                    back1('5d789_62x63.png')
                    background-size 62px
                &.ico-i2
                    back1('6eec1_61x66.png')
                    background-size 61px
                &.ico-i3
                    back1('72da3_77x75.png')
                    background-size 77px
            &.c1
                left 14px
                top 126px
            &.c2
                left 241px
                top 33px
            &.c3
                left 473px
                top 126px
            b
                color #fff
                font-size 22px
                display block
                text-align center
                font-weight bold
                margin-top 10px
            p
                color #fff
                font-size 22px
                text-align center
                margin-top 5px
                line-height 1.3
                transform scale(0.55)
                transform-origin center top
    
.ruguo-ni
    background: url(../img/26eaf_732x60.png) center bottom/732px no-repeat
    float 0
    padding-bottom 50px
    .line
        width 59px
        height 5px
        background #fff
    p
        text-align center
        margin-top 15px
        img
            width 271px
    h2
        font-size 34px
        color #fff
        text-align center
        letter-spacing 3px
        margin-top 5px

.scroll-page
    float 0
    margin-top 60px
    position relative
    overflow hidden
    .pos
        center 2
        z-index 3
        img
            width 28px
        &.next
            right 30px
        &.prev
            left 25px
    .kuang
        border 1px solid #fff
        position absolute
        width 623px
        height 409px
        transform rotate(-5deg)
        left 80px
    ul
        position relative
        z-index 1
        li
            width 100%
            padding-left 40px
            .box
                width 208px
                height 333px
                position absolute
                top 40px
                .share-info
                    position absolute
                    bottom 30px
                    padding 0 20px
                    a
                        float left
                        margin-left 5px
                        ml 0
                        img
                            width 22px
            .w
                width 623px
                img
                    width 100%