/*投稿*/
.toug_but{width:95px; background:#fe92a8; border-radius:100px; height:24px; line-height:24px; color:#ffffff; text-align:center; float:right; font-size:13px;margin-top: 13px; color:#ffffff}
.toug_but:hover{color:#ffffff;box-shadow:inset 0px 13px 10px -10px #f83964,inset 0px -10px 10px -20px #f83964;}
.toug_but img{ height:16px; vertical-align: sub}

.toug_back{background:#fe92a8; border-radius:100px; height:24px; line-height:24px; color:#ffffff; text-align:center; float:right; font-size:13px;margin-top: 13px; padding:0 10px;}
.toug_back:hover{color:#ffffff;box-shadow:inset 0px 13px 10px -10px #f83964,inset 0px -10px 10px -20px #f83964;}
.toug_back img{ height: 14px; vertical-align: middle; margin-top: -3px; margin-right: 2px;}

.tou_list{width:94%; margin:0 auto; display:table;}
.tou_list ul{width:100%;margin-top:5px;}
.tou_list ul li{padding: 10px; width:100%; display:table; border-bottom:#eeeeee 1px solid; margin-bottom:15px;}
.tou_list ul li:last-child{margin-bottom:0px;}

.tou_tx{width:100%; display:table}
.tou_tx_img{width:40px;height: 40px;display: flex; border-radius: 100px; overflow: hidden;
    justify-content: center;align-items: center;background: #ffffff;box-shadow: 0 0 8px #DDD; float: left;}
.tou_tx span{ margin-left:10px; font-size:16px;float:left}
.tou_tx span i{ font-style: normal;color: #999; font-size: 13px; display: table;}
.tou_tx font{ float:right; font-size:14px; color:#666666; line-height:40px;}

.tc_text{width:100%; display:table; background:url(../images/tg_07.png) top left no-repeat; font-size:18px; font-weight:bold;margin-top:5px; padding-top:6px;}
.tc_text span{padding-left:35px;}

.tc_text01{width:100%; display:table; background:url(../images/tg_10.png) bottom right no-repeat; font-size:14px;padding-bottom:35px; margin-top:10px; color:#666666}
.tc_text01 p{width:100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}

.tc_page{margin:0 auto; display:table}

.tc_text_aa{width:100%; display:table;font-size:18px; font-weight:bold;margin-top:10px;}
.tc_text_aa span{}

.tc_text_bb{width:100%; display:table;  font-size:14px;padding-bottom:10px; margin-top:5px; color:#666666}
.tc_text_bb p{width:100%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical;}

.two_tg{width:94%; margin:0 auto; display:table; margin-top:20px; margin-bottom:60px; min-height:650px;}
.two_gtitle{width:100%; display:table; line-height:36px; font-size:20px; color:#fd5678; font-weight:bold;}
.two_gtitle img{width:36px; float:left; margin-right:5px;}


.tow_input{width:100%; display:table; margin-top:18px;}
.tw_input{width:100%; line-height:45px; background:#f8f8f8; border-radius:10px; border:none; margin-bottom:10px; padding:0px 10px;}
.tw_textinput{width:100%; height:140px; line-height:35px;background:#f8f8f8; border-radius:10px; border:none; margin-bottom:10px; padding:5px 10px}

.ti_kuang{width:100%; border:#eeeeee 1px solid; display:table; padding:10px 10px 15px 10px; margin-top:20px;}
.ti_title{ text-align:center; color:#666666;background:#ffffff; margin:0 auto; padding:0 5px;display:table; margin-top:-20px; }
.ti_kuang h2{ padding:5px 0; color:#999999; font-size:15px; margin-left:5px; line-height:18px;}
.ti_kuang h2 i{ margin-right:6px}

.ticheckbox{ margin:0 auto; display:table; padding:5px 0;color:#999999;font-size:15px; margin-top:30px; margin-bottom:10px;line-height:18px;}
.ticheckbox i{ margin-right:6px}


.input_style{width: 18px;height:18px;display: inline-block;}
/*单选*/
.radio_bg{background: url(../images/1_05.png) no-repeat;}
.radio_bg_check{background: url(../images/1_07.png) no-repeat;}
/*单选*/
.checkbox_bg{background: url(../images/1_05.png) no-repeat;}
.checkbox_bg_check{background: url(../images/1_07.png) no-repeat;}
/*单选*/
.nradio_bg{background: url(../images/rad.png) no-repeat;}
.nradio_bg_check{background: url(../images/rad_h.png) no-repeat;}

@media (max-width:1366px) {
    .two_tg{min-height:750px;}
}


@media (max-width:1024px) {
    .chbottom{ position:fixed; bottom:0}
    .two_tg{min-height:auto;}

}
@media (max-width:992px) {
    .two_tg{min-height:auto;}
    .chbottom{ position:fixed; bottom:0}
}
@media (max-width:760px) {
    .two_tg{min-height:550px;}

    .chbottom{ position: static;}
}


.toug_xq{width:94%; margin:0 auto; display:table; background:#FFF; padding:10PX; border-radius:5px;box-shadow: 0 0 10px #EEEEEE}
.xq_text{width:100%; display:table;font-size:22px; font-weight:bold;margin-top:5px; padding-top:6px;}
.xq_text span{ font-size:14px; color:#999999; text-align:center; display:block; font-weight:normal; line-height:30px}

.xq_text01{width:100%; display:table;/* background:url(../images/tg_07.png) top left no-repeat; */ font-size:14px;padding-top:10px; color:#666666}
.xq_text01 h2{width:94%; margin:0 auto; display:table; margin-bottom:15px;}
.xq_text01 h2:last-child{ margin-bottom:0}


.xq_textbot{width:100%; display:table; margin-top:5px;}
.xq_textbot img{ float:right}



.tou_xq{width:94%; margin:0 auto; display:table; padding:10px 0; margin-bottom:15px;}
.touxqfont{ float:left;color:#999999; font-size:14px; line-height:18px; margin-top:12px;}
.touxqfont img{ height:18px; margin-right:5px; vertical-align:middle}
.touxqfont span{ margin-left:10px}
.tou_img{ float:right}
.tou_img img{width:40px; height:40px; float:left; border-radius:100px;}
.tou_img span{margin-left:7px; font-size:16px; line-height:40px; float:left; color:#666666}


.t_xqheight{ min-height:700px;}
@media (max-width:1366px) {
    .t_xqheight{ min-height:770px;}
}
@media (max-width:1024px) {
    .t_xqheight{ min-height:1160px;}
}
@media (max-width:992px) {
    .t_xqheight{ min-height:730px;}
}
@media (max-width:760px) {
    .t_xqheight{ min-height:520px;}
}
@media (max-width:360px) {
    .t_xqheight{ min-height:400px;}
}



/* 投稿详情3-5 */
.tougao_xnew{width: 100%; display: table;}
.tou_img_1{ float:left}
/*.tou_img_1 img{width:40px; height:40px; float:left; border-radius:100px;}*/
.tou_img_1 span{margin-left:7px; font-size:16px; float:left; color:#666666}
.tou_fi{color: #999; font-style: normal; display: table; font-size: 12px;}

.tog_time{ float: right; line-height: 40px; color: #999;}

.tgxq_nr{width: 94%; margin: 0 auto; display: table;}
.tgxq_nr li{width: 100%; border-bottom: #dcdcdc 1px solid; display: table; padding: 18px 0;}

.tg_imgtx{width:50px;height: 50px;display: flex; border-radius: 100px; overflow: hidden;
    justify-content: center;align-items: center;background: #ffffff;box-shadow: 0 0 8px #DDD; float: left;}
.hycov{ width: auto;height: auto;max-width: 100%;max-height: 100%; object-fit: contain;}
.ta_rightnr{width: calc(100% - 60px); float: right;}

.ta_nr{width: 100%; display: table;/* background: #f1f2f6; */ border-radius:20px; padding: 0px 0px 10px 0px; position: relative;}
.ta_nr h2{width: 100%;font-size: 13px; color: #333; display: table; margin-bottom: 3px;}
.ta_nr h2 font{ font-size: 13px; color: #999; display: table;}
.ta_nr p{ color: #333;}

.tahuifu{ border: #eee 1px solid; border-radius: 5px; padding: 3px 6px; color: #999999; cursor: pointer;}
.tahuifu i{ margin-right:5px;}
.tahuifu:hover{ color: #fd5678; border: #fd5678 1px solid;}


.tw_bgxx{width:calc(100% - 60px); background: #f1f2f6; padding:5px 10px; display: table; float: right;}


.two_hf{width: 100%; display: table; margin-top: 10px; border-bottom: #dfdfdf 1px solid;}
.two_tetx{width:35px;height: 35px;display: flex; border-radius: 100px; overflow: hidden;
    justify-content: center;align-items: center;background: #ffffff;box-shadow: 0 0 8px #DDD; float: left;}
.two_ta_rightnr{width: calc(100% - 40px); float: right;}
.two_ta_nr{width: 100%; display: table;border-radius:20px;padding: 0px 0px 10px 5px;position: relative;}
.two_ta_nr h2{width: 100%;font-size: 13px; color: #333; display: table; margin-bottom: 3px;}
.two_ta_nr h2 font{ font-size: 12px; color: #999; display: table;}
.two_ta_nr p{ color: #333;}
.blue{ color: #00a8ff;}

.twohuifu{width: 100%; border: #eee 1px solid; border-radius: 100px; height: 35px; line-height: 35px; padding: 0 10px;}

@media (max-width:450px){
    .tw_bgxx{width:calc(100% - 50px); background: #f1f2f6; padding:5px 10px; display: table; float: right;}
    .tg_imgtx{width:40px;height: 40px;}
    .ta_rightnr{width: calc(100% - 50px); }
    .two_tetx{width:30px;height: 30px;}
    .two_ta_rightnr{width: calc(100% - 35px);}
    .twohuifu{height: 30px; line-height: 30px; }
}


.botfasont{ position: fixed; bottom: 10px; left: 0;width: 100%;}
.bot_wid{width: 94%; margin: 0 auto; display: table; background: #ffffff; box-shadow: 0 0 10px #eee; height: 60px;}
.bot_wid_nr{width: 98%; margin: 0 auto; display: table;}

.bot_nnew{background: #eeeeee; height:50px; border: #eee 1px solid; border-radius:5px; margin-top: 5px;width: calc(100% - 50px); float: left; margin-bottom: 5px; }
.bot_input{border: none !important; background: none !important; line-height:16px !important;width:100%;outline: none !important;}

.bot_cir_1{width:40px; height: 40px;background:url(../images/fasong_1.png) #ffdce8; background-size:40px;
    border-radius: 100px; float: right; margin-right:5px; margin-top:5px; color: #fd5678; outline: none; }
.bot_cir_1:hover{background:url(../images/fasong_2.png) #fd5678; background-size:40px; color: #fff;}

.bot_fs{font-size:22px !important; line-height:40px; padding-top: 2px; display: table;text-align: center;width: 100%;}
.bot_tgbot70{ margin-bottom: 80px;}
@media (max-width:450px){
    .botfasont{bottom: 0px;}
    .bot_wid{width: 100%;}
    .bot_tgbot70{margin-bottom: 70px;}
}

.wtl{ border-top: #eeeeee 1px solid;width: 100%; display: table; padding-top: 20px;}
.wtl img{width:140px; margin: 0 auto; display: table;}
.wtl font{ font-size: 15px; line-height: 30px; margin-bottom: 30px; text-align: center;width: 100%; display: table; color:#999;}

.but_m{ color: #24adfe; text-decoration: none; padding-top: 6px;}
.but_m:hover{ text-decoration: none; color: #24adfe;}
.but_m:focus{ text-decoration: none;outline:none !important;outline:0px auto -webkit-focus-ring-color  !important; color: #24adfe;}

.pd_dd01{ color: #d2d2d2; cursor: pointer;}

.dp_hxx{min-width:65px !important;text-align: center !important;left:-40px !important; padding: 0 !important;}
.dp_hxx a{width: 100%; display: table; cursor: pointer; color: #999; border-bottom: #eee 1px solid; line-height: 25px;}
.dp_hxx a span{ margin-right: 3px; font-size: 13px;}
.dp_hxx a:hover{ color: #fe92a8; background: #f5f5f5;}

.sj_rr{ position: absolute; top: 0;right: 0;}
.sj_rr a{ border:#eeeeee 1px solid; color:#999999; padding:0px 5px;line-height:20px; margin-left:0px; border-radius:100px; background-color:rgba(255,255,255,0.6);}
.sj_rr a img{ height:14px; vertical-align:middle; margin-right:5px; margin-top:-3px;}
.sj_rr a  span{ font-size: 12px; margin-right: 2px;}
.sj_rr a:hover{color:#999999;box-shadow:inset 0px 15px 10px -10px #eeeeee,inset 0px -10px 10px -20px #eeeeee;background:#ffffff;}
.sj_two{ right: -5px;}

.ap_but{ position: absolute; right:0px; top:0px;}
.ap_but a{ border: #eee 1px solid; border-radius: 100px; color: #999999; padding: 0 5px;line-height: 20px;}
.ap_but a:hover{color:#999999;box-shadow:inset 0px 15px 10px -10px #eeeeee,inset 0px -10px 10px -20px #eeeeee;background:#ffffff;}

.ap_but a span{ font-size: 14px; margin-right: 3px;}
.ap_but a img{ height:14px; vertical-align:middle; margin-right:5px; margin-top:-3px;}


.sc_cc{border-radius: 100px;display: table;background: url(../images/fengsuo.png) no-repeat; background-size: cover;
    padding:0 5px; height: 20px; line-height: 20px !important; float: right;box-shadow:3px 4px 10px #d5ddec; color: #87909c !important; cursor: pointer; text-align: center; font-size: 12px; padding: 0 6px;}
.sc_cc img{ height: 12px;margin-top:-3px; margin-right: 3px;}
.sc_cc:hover{height: 22px;background: url(../images/fengsuo_h.png) no-repeat; background-size:cover;box-shadow:3px 4px 10px #d5ddec;}

.ap_butnew{ position: absolute; right:0px; top:0px;}
.ap_butnew a{ margin-left: 2px;}


.new_input{width:100%; display:table}
.new_input dt{width:100%; display: table; margin-bottom:20px; border-radius: 10px;  border: #e7e7e7 1px solid;box-shadow:0px 5px 12px #dcdcdc;}
.new_input dt span{width:96%; margin: 0 auto; font-size:15px; color:#666666; display:table; line-height:35px; font-weight:normal; border-bottom: #e7e7e7 1px solid;}
.new_input dt i{ color:#fd5678; font-style:normal}
.new_input dt font{width:96%; margin: 0 auto; font-size:15px; color:#666666; display:table; line-height:35px; font-weight:normal}
.new_iptnone{ border: none; outline: none; padding: 0 0; background: none;}

.n_rictb{ float: right; font-size: 13px; line-height:30px; margin-top:3px;}
.n_rictb a img {height: 20px;margin-right:5px}
.n_rictb a {margin-left:8px;color: #fd5678;}

.marbot_35{margin-bottom:35px !important;}
.marbot_25{margin-bottom:23px !important;}


.bhui_new{ background: #f3f3f3;}
.tabbox_h2nn{width:100%; margin: 0 auto; display: table; font-size: 15px; color: #999999;line-height:30px; padding: 10px 0;}


.fpt_z01{width: 95%; margin: 0 auto; display: block; overflow-y: scroll; height:auto; margin-top: 10px; padding:0 10px; margin-bottom: 15px;}
@media (max-width:824px) {
    .fpt_z01{height:125px;}
}

@media (max-width:450px) {
    .fpt_z01{height:180px;}
}

.n_shenhe{width:70%;position:absolute; top:25%; left:15%; z-index:3}
.n_shenhe img{width:100%}


.pa120{ padding-right: 110px;}


/* 7-10 */
.search_new{width: 500px; height:50px; border-radius: 15px; box-shadow: 0 0 15px #eee; margin: 0 auto; display: table; margin-top: 20px; cursor: pointer;}
.se_input_eg{width:calc(100% - 60px); float: left ; border: none; line-height: 50px; background: none; outline: none; padding: 0 10px; font-size: 15px; color: #999;}

.se_button{width: 50px; height: 50px; background: #fff; box-shadow:6px 8px 20px #ffc7d4;border-radius: 15px; float: right;}
.se_button01{width: 50px; height: 50px; background: #fff; box-shadow: inset 10px 5px 10px #ffc7d4;border-radius: 15px; display: table; cursor: pointer;}
.se_button01:hover{background:linear-gradient(to bottom,#ffb3c3,#fd7c96);}
.se_button02{width:35px; height:35px; background: #fff; box-shadow: 5px 5px 10px #fc8da4;border-radius: 15px; margin: 0 auto; display: table; margin-top:8px;}
.se_button02 img{ height:20px; margin: 0 auto; display: table; margin-top:6px;}
.se_button02:hover{background:linear-gradient(to bottom,#fff,#f9d5dd);}



.se_bgdy{width: 96%; margin: 0 auto; display: table; margin-top: 20px;}

@media (max-width:823px) {
    .se_bgdy{width: 100%; }
}

@media (max-width:450px) {
    .search_new{width:90%; height:50px;}
    .se_input_eg{width:calc(100% - 60px); }
}



.zixu_cs{border-radius: 100px;display: table;background: url(../images/fengsuo1.png) no-repeat;background-size: cover;padding:0 5px;height: 24px;line-height: 24px;float: right;
    box-shadow:0px 4px 10px #ffb7c5;color: #fe5476 !important;cursor: pointer;text-align: center;font-size: 14px !important;margin:0px 3px 0 0;padding:0 5px;width: 60px; font-weight: normal;}
.zixu_cs img{ height: 12px;margin-top:-3px; margin-right: 3px;}
.zixu_cs:hover{height: 24px;background: url(../images/fengsuo_h1.png) no-repeat; background-size:cover;box-shadow:3px 4px 10px #ffb7c5;}


.zixu_cs1{border-radius: 100px;background: url(../images/fengsuo1.png) no-repeat;background-size: cover;padding:0 5px;height: 24px;line-height: 24px;float: right;
    box-shadow:0px 4px 10px #ffb7c5;color: #fe5476 !important;cursor: pointer;text-align: center;font-size: 14px !important;margin:3px 3px 0px 0 !important;padding:0 5px;width: 60px; font-weight: normal;}
.zixu_cs1 img{ height: 12px;margin-top:-3px; margin-right: 3px;}
.zixu_cs2{border-radius: 100px;background: url(../images/fengsuo1.png) no-repeat;background-size: cover;padding:0 5px;height: 24px;line-height: 24px;float: right;
    box-shadow:0px 4px 10px #ffb7c5;color: #fe5476 !important;cursor: pointer;text-align: center;font-size: 14px !important;margin:3px 3px 0px 0 !important;padding:0 5px;width: 60px; font-weight: normal;}
.zixu_cs2 img{ height: 12px;margin-top:-3px; margin-right: 3px;}
.zixu_cs1:hover,.zixu_on{height: 24px;background: url(../images/fengsuo_h1.png) no-repeat; background-size:cover;box-shadow:3px 4px 10px #ffb7c5;}



.dtmr20{ margin-right:10px;}

@media (max-width:450px) {
    .sx_ment{width:190px; margin: 0 auto;display: table; margin-bottom: 10px !important; }
    .xs_wi90{width:calc(100% - 80px); float: left;}
    .dtmr20{ margin-right:0px;}
}

.xss_he{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;-webkit-line-clamp:1;}



.dt_right_1{height:25px;background: url(../images/fengsuo.png) no-repeat; background-size: cover;line-height:25px;border-radius:100px; float: right;
    box-shadow:3px 4px 10px #d5ddec; color: #87909c !important; text-align: center; padding: 0 10px; cursor: pointer;}
.dt_right_1:hover{height: 26px;background: url(../images/fengsuo_h.png) no-repeat; background-size:cover;
    box-shadow:3px 4px 10px #d5ddec;}


.ys_dt{line-height: 20px; padding-bottom: 5px; color: #fd5678; font-size: 12px; padding-left: 10px;}


.btn_img{width:40px; height:31px;margin:8px -5px 0 0;background:none;padding:0;}
.btn_img>.btn_back{width:100%; height:100%; background: url("../images/fanhui.png") no-repeat 0 0; background-size:100%;}
.btn_img:hover>.btn_back{background-position:0 -31px;}
.btn_img:hover{box-shadow:unset;}

.n_input>.btn_more{background:linear-gradient(to bottom,#ffedf1,#ffc5d3); height:36px; line-height:36px; border-radius:6px; box-shadow:0 5px 5px #fadce3; width:100%;float:left;
    padding:0 10px;color:#ee5472;font-size:15px;margin:10px 0;cursor:pointer;}
.n_input>.btn_more>.right{width:23px; height:23px; margin:5px 0; background:#fff;border-radius:15px;box-shadow:0 5px 5px #f6a3b6;display: flex; align-items: center; justify-content: center;}
.n_input>.btn_more>.right>img{transform:rotate(-90deg); width:8px;-ms-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg); }
.n_input .mb0{margin-bottom:0;}
.n_input>.btn_more.up>.right>img{transform:rotate(90deg);-ms-transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg);}

/* 7-19 */
.btn_img01{width:99px; height:auto;margin:7px -8px 0 0;background:none;padding:0; line-height:32px;}
.btn_img01>.btn_back{width:100%;background: url("../images/fanhui01.png") no-repeat 0 0; background-size: cover}
.btn_img01:hover>.btn_back{background-position:0 -33px;}
.btn_img01:hover{box-shadow:unset;}



/* post */

/* 10-28 */
.taol_lt{width: 94%; margin: 0 auto;box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius:10px; padding: 15px 0; background: #fbd7d8; margin-bottom:25px;}

.taol_tab01{width: 95%; margin: 0 auto; display: table;}

.ns_sqqb{width:95%; margin: 0 auto; display: table; margin-top:30px;}
.n_sq_title{width:500px; margin: 0 auto; display: table; background: url(../images/c_line.png) repeat-x; border-radius:10px; box-shadow: 0 5px 8px rgba(246,132,155,0.6);height: 50px; line-height: 50px; overflow: hidden;}
.n_sq_title li{float: left; text-align: center; color: #fd5f7c; font-size: 18px; cursor: pointer;height: 50px; overflow: hidden;}
.n_sq_title li span{ margin-right:4px; font-size: 20px; font-weight: normal;}
.lis_sq01{width:32%; }
.lis_sq02{width:60%; }

.lis_sq03{width:42%; text-align: center; }
.lis_sq04{width:58%; float: right !important; }

.na_se{background:linear-gradient(to bottom, #ff9da2, #fd5f7c);}
.n_sq_hover{width: 100%;color: #fff !important; background: url(../images/xuanz_h.png) right top no-repeat ; font-weight: bold; display: flex; height: 54px; overflow: hidden;}
.n_sq_hover01{ width: 100%;color: #fff !important; background: url(../images/xuanz_h1.png) left top no-repeat; font-weight: bold;height: 54px; overflow: hidden;}
.n_textm{width: 80%; float: left;}

.n_el30{ margin-left: 30px;}
@media (max-width:824px){
    .n_sq_title{width:100%;}
}

.tao_qu{width: 100%; height:600px; margin:0 auto; display: block; border-radius: 10px; background: #fff; margin-top: 14px; padding: 10px; min-height:65vh; position: relative; overflow-y: scroll;}
.tao_time{ background: #eee; font-size: 12px; padding:5px 5px; margin: 0 auto; display: table; border-radius:100px; color: #999999; margin-top: 10px; margin-bottom: 10px;}
.msg_input_nn{position: absolute;background: url(../images/lijt.png) no-repeat;background-size: 100% 100%;width: 12px;height: 16px;left: -7px;top: 0px;}
.msg_input_nn_2{position: absolute;background: url(../images/lijt2.png) no-repeat;background-size: 100% 100%;width: 12px;height: 16px;right: -7px;top: 0px;}

.msg_p{float: left;margin:0 10px;padding:10px 8px;background: #d2d2d2;font-size:14px;position: relative;border-radius:0px 10px 10px 10px;max-width:14rem;box-sizing: border-box;color:#fff;}
.msg_p1{float: right;margin:0 10px;padding:10px 8px;background: #fe92a8;font-size:14px;position: relative;border-radius:10px 0px 10px 10px;max-width:14rem;box-sizing: border-box;color:#fff;}
.maspp0{ padding-bottom: 0;}


.tao_qu_1{width: 100%; margin:0 auto; display: block; border-radius:10px; background: #fff; margin-top:10px; padding: 5px; position: relative;}

/*.tia_icon{width:36px;height: 36px; background: #fbd7d8; border-radius: 100px; display: table;float: left; color: #ee5472; text-align: center;line-height: 40px;}*/
.tia_icon img{ height: 22px;}
.tia_icon:hover{box-shadow:2px 2px 6px 0 rgba(255,255,255,.8),-4px -4px 6px 0 rgba(254,121,139,.5),inset -4px -4px 6px 0 rgba(254,121,139,.5),inset 4px 4px 6px 0 rgba(254,121,139,.5)!important;}


/* .fs_icon{width:36px;height: 36px; background: #fbd7d8; border-radius: 100px; display: table;float: right; color: #ee5472; text-align: center;line-height: 40px;}
.fs_icon img{ height: 22px;}

 */

.tia_icon{width:35px; height:35px;background:url(../images/tutj.png) #fff; background-size:35px; outline: none;
    border-radius: 100px; float: left;margin-top:2px; color: #fd5678; outline: none; box-shadow: 0 0 15px #eaeaea;}
.tia_icon:hover{background:url(../images/tutj_h.png) #fff; background-size:35px; color: #fff;box-shadow: 0 0 15px #fd5678; outline: none;}


.fs_icon{width:35px; height:35px;background:url(../images/tutj_1.png) #fff; background-size:35px; outline: none;
    border-radius: 100px; float: right;margin-top:2px; color: #fd5678; outline: none; box-shadow: 0 0 15px #eaeaea;}
.fs_icon:hover{background:url(../images/tutj_1h.png) #fff; background-size:35px; color: #fff;box-shadow: 0 0 15px #fd5678; outline: none;}





.ta_input{width:calc(100% - 100px); float: right; position: absolute; top:7px; background: #eee; left: 50px; height: 36px; border-radius:5px; line-height: 36px;  }
.ta_input_a{width: 100%;display: table;}

.ta_yyah{ height:24px; width:40px; border-right: #d2d2d2 1px solid; display: table; float: left; margin-top:6px; display: table;}
.ta_yyah img{ height:22px; margin: 0 auto; display: table;}

.ta_input_po{width:calc(100% - 45px); float: right; border:none;  background: none; outline: none; }

@media (max-width:824px){
    .ams_bt{ display: none;}
}

.fabiao{width:90px; background: #f4d5db; border-radius: 10px; display: none; padding:5px 0; box-shadow: 0 5px 10px #e398a4;position: absolute; right: 0;cursor: pointer; z-index: 3; }
.fabiao a{width: 90%; display: table; margin: 0 auto; line-height: 24px; border-bottom: #fff 1px solid; color: #fff; cursor: pointer;}
.fabiao a:last-child{ border-bottom: none;}
.fabiao a:hover{ color: #ee5472;}

.liaotian_s{width: 100%; display: table; margin-top: 15px;}
.liaotian_s li{width: 100%; border-radius:20px; background: #fff; padding: 10px; box-shadow: 0 3px 0px #f6b1b2; position: relative; margin-bottom: 10px; cursor: pointer;}
.liaotian_s li:hover{color: #ee5472;}
.alit_font{width:calc(100% - 45px);display: table; font-size: 17px; float: left; line-height: 30px;}

.alit_font01{width:100%;display: table; font-size: 14px; color: #666;}

.ta_icon{ position: absolute; right: 10px; top: 10px; color: #fe92a8; line-height: 20px;}
.ta_icon img{ height: 20px; margin-right: 2px;}

.ta_textbot{width:calc(100% - 100px);height: 25px;display: -webkit-box;  line-height: 25px;-webkit-box-orient: vertical;-webkit-line-clamp:1;text-overflow: ellipsis;overflow: hidden;float: left;}
.ta_tetime{width:100px; float: right; color: #999999; text-align: right;}
.ta_tetime span{ color: #cdcdcd;}

.shenqing{width: 100%; position: absolute; bottom:20px;}
.shenq_button{width:140px; height: 40px;box-shadow: 0 5px 5px #ffc9d3;background:linear-gradient(to top, #ffe3e6, #fff);
    margin: 0 auto;display: table; border-radius: 100px; text-align: center; color: #fe92a8; line-height: 40px; border: #ffe2e7 1px solid; font-size: 15px;}
/* .shenq_button:hover{color:#fe92a8;
box-shadow:4px 4px 6px 0 rgba(214,92,117,.5),-4px -4px 6px 0 rgba(255,255,255,.5),inset -4px -4px 6px 0 rgba(254,146,168,.2),inset 4px 4px 6px 0 rgba(123,23,24,.4)!important;}
 */
.shenq_button:hover{color:#fe92a8; background: #ffe3e6;box-shadow:4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116,125,136,.5),inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0,0,0,.4) !important;}

.shenq_button:active{color:#fe92a8; background: #ffe3e6; box-shadow:unset !important;}


.sqnc{width:95%; margin: 0 auto; display: table;border-radius:10px;height: 50px;background:linear-gradient(to top, #fd5f7c, #ff9ea3); color: #fff;
    text-align: center; font-size: 18px; font-weight: bold;}
.sqnc span{ font-weight: normal; font-size: 22px; margin-right:5px; line-height: 50px; padding-top: -2px;}


.shenq_button_a{width:120px;height: 40px;box-shadow: 0 5px 5px #ffc9d3;background:linear-gradient(to top, #ffe3e6, #fff);  margin: 0 auto; float: left; margin: 0 10px;display: table;
    border-radius: 100px; text-align: center; color: #fe92a8; line-height: 40px; border: #ffe2e7 1px solid; font-size: 15px;}
/* .shenq_button_a:hover{ color:#fe92a8 ;
box-shadow:4px 4px 6px 0 rgba(214,92,117,.5),-4px -4px 6px 0 rgba(255,255,255,.5),inset -4px -4px 6px 0 rgba(254,146,168,.2),inset 4px 4px 6px 0 rgba(123,23,24,.4)!important;}
 */.shenq_button_a:hover{color:#fe92a8; background: #ffe3e6;box-shadow:4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116,125,136,.5),inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0,0,0,.4)!important;}



.ba_but a{ background: #fff;}
.ba_wl10{ margin-left: 10%;}

.fadeinboxs {width: 100%;height: 100%;background: rgba(255, 255, 255, 0);
    position: fixed;left: 0;display: none;top: 0;z-index: -1;}

.hygl_b{width:95%; margin: 0 auto; display: table; background: url(../images/c_line.png) repeat-x; border-radius:10px; box-shadow: 0 5px 8px rgba(246,132,155,0.6);height: 50px; line-height: 50px; overflow: hidden;}
.hygl_b li{float: left; text-align: center; color: #fd5f7c; font-size: 18px; cursor: pointer;}
.hygl_b li span{ margin-right:4px; font-size: 20px; font-weight: normal;}
.hyg_wid{width:100px; }


.hy_spangl{width:30px; margin-left: -30px;}
.hy_tefo{text-align: left !important; font-weight: bold;}

.hy_gltabn{width: 95%; margin: 0 auto; display: table;margin-top: 14px;}
.hy_gltabn li{width: 100%; border-radius:20px; background: #fff; padding: 10px; box-shadow: 0 3px 0px #f6b1b2; position: relative; margin-bottom: 10px;}
.h3_divtab1{width:100%; border-bottom: #eee 1px solid; padding-bottom:6px;}
.h3_divtab1 span{ color: #666; font-size: 14px;}
.h3_divtab1 font{ color: #333; font-size: 16px;}

.hy_icobutton{width: 100%; display:table; padding-top:10px; padding-bottom: 3px;}
.hy_icon011{ height: 30px; border-radius: 100px; padding:3px 8px; background: #f3f3f3; color: #bcbcbc; margin-right:8px; box-shadow:0 3px 5px rgba(185,185,185,0.6); cursor: pointer;}
.hy_icon011 span{ margin-right:3px; font-size: 15px;}
.hy_icon011:last-child{margin-right:0;}
.hy_icon011:hover{ background: #ffc5c7; color: #ee5472; box-shadow:0 3px 5px rgba(255,91,124,0.6);}
.list1 .active{background: #ffc5c7; color: #ee5472; box-shadow:0 3px 5px rgba(255,91,124,0.6);}
.hy_icon011{ height: 30px; border-radius: 100px; padding:3px 8px; background: #f3f3f3; color: #bcbcbc; margin-right:8px; box-shadow:0 3px 5px rgba(185,185,185,0.6);}



.hy_icon022{ height: 30px; border-radius: 100px; padding:3px 8px; background: #fff2d7; color: #666666; margin-right:8px; box-shadow:0 3px 5px rgba(220,164,84,0.6);}
.hy_icon022 span{margin-right:3px; font-size: 15px; color: #ff8e22;}
.hy_icon022 span:hover{color: #fff;}
.hy_icon022:last-child{margin-right:0;}
.hy_icon022:hover{ background: #ffd0a3; color: #ff8817 !important; box-shadow:0 3px 5px rgba(220,164,84,0.6);}
/* .list1 .active_a{background: #ffd0a3; color: #ff8817 !important; box-shadow:0 3px 5px rgba(220,164,84,0.6);} */

/*  */
.tl_button_PC{width:95%;margin: 0 auto; display: table; border-radius:20px; overflow: hidden; box-shadow:0 5px 0px #cb3c58;}
.tl_button_PC img{width: 100%;}
.tl_button_PC:hover{ box-shadow:4px 4px 6px 0 rgba(214,92,117,.2),-4px -4px 6px 0 rgba(0,0,0,.2),inset 10px 10px 6px 0 rgba(254,146,168,.2),inset 4px 4px 6px 0 rgba(123,23,24,.2)}
.tl_button{display: none;}

@media (max-width:824px){
    .alit_font{
        display: block;
        width: 650px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (max-width:540px){
    .alit_font{
        width: 430px;
    }
}

@media (max-width:450px){
    .alit_font {
        width: 320px;
    }
}

@media (max-width:375px){
    .alit_font{
        width: 280px;
    }
}

@media (max-width:360px){
    .alit_font{
        width: 270px;
    }
}

@media (max-width:320px){
    .alit_font{
        width: 240px;
    }
}

@media (max-width:280px){
    .alit_font{
        width: 200px;
    }
}

@media (max-width:450px){
    .tl_button_PC{display: none;}
    .tl_button{width:95%;margin: 0 auto; display: table; border-radius:20px; overflow: hidden; box-shadow:0 5px 0px #cb3c58;}
    .tl_button img{width: 100%;}
    .tl_button:hover{ box-shadow:4px 4px 6px 0 rgba(214,92,117,.2),-4px -4px 6px 0 rgba(0,0,0,.2),inset 10px 10px 6px 0 rgba(254,146,168,.2),inset 4px 4px 6px 0 rgba(123,23,24,.2)}

}




.taolun_btl{width: 94%; margin: 0 auto;margin-bottom:25px; margin-top:20px;}
.taolun_btl li{width: 100%;box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius:10px; padding: 12px 10px 10px 10px; display: table; margin-bottom: 15px;}
.ta_lwid_left{width:40px;float:left ;}
.ta_lwid_left img{width:40px; height: 40px; border-radius: 100px;}
.ta_lwid_right{width:calc(100% - 45px); float: right;}
.ta_lwid_right h2{width: 100%; height: 30px; line-height: 30px;font-size: 17px; display: table;overflow: hidden; font-weight: bold;display: -webkit-box;-webkit-line-clamp:1;-webkit-box-orient: vertical; word-break: break-all;}
.ta_lwid_right h3{width: 100%;line-height:20px;font-size: 13px; display: table; color: #999;
    overflow: hidden;-webkit-line-clamp:3; display: block; max-height: 60px; word-break: break-all;}

.ta_wdka{width: 100%; display: table; border-top: #eee 1px solid; margin-top:6px; padding-top:8px;}
.ta_wdka_text{ font-size: 14px; line-height:30px; float: left;}
.ta_wdka_text span{ color: #ee5472; padding-left: 4px;}
.ta_wdka_text i{ padding: 0 1px; font-style: normal;}
.ta_toxmr{width: 28px; height: 28px; float: right; border-radius: 100px; display: block; overflow: hidden; margin-right: 3px; background: #eeeeee; margin-bottom: 10px;}

.ta_witx_rig{ float: right;}
.seqr{border-radius: 100px;display: table;background: url(../images/jr_button.png) no-repeat; background-size: cover;width: 82px;
    height:28px; line-height: 28px; float: right; color: #fff; cursor: pointer; text-align: center; font-size: 14px;}
.seqr:hover{width: 82px;height:28px;background: url(../images/jr_button_h.png) no-repeat; background-size:cover; color: #fff;}

.shenhe_z{border-radius: 100px;display: table;background: url(../images/jr_button_sh.png) no-repeat; background-size: cover;width: 82px;
    height:28px; line-height: 28px; float: right; color: #fff; cursor: pointer; text-align: center; font-size: 14px;}
.shenhe_z:hover{width: 82px;height:28px;background: url(../images/jr_button_sh_h.png) no-repeat; background-size:cover; color: #fff;}

.wtg_z{border-radius: 100px;display: table;background: url(../images/jr_button_wtg.png) no-repeat; background-size: cover;width: 82px;
    height:28px; line-height: 28px; float: right; color: #fff; cursor: inherit; text-align: center; font-size: 14px;}
/*.wtg_z:hover{width: 82px;height:28px;background: url(../images/jr_button_wtg_h.png) no-repeat; background-size:cover; color: #fff;}*/


.wt_txb{width: auto;overflow: hidden;float: right;display: block;height: 28px;}



@media (max-width:450px){
    .ta_wdka_text{ font-size: 12px;}
    .wt_txb{width: 70px;overflow: hidden;float: right;display: block;height: 28px;}
}

@media (max-width:360px){
    .wt_txb{width:60px;height: 30px;}
    .ta_lwid_left{width:30px;float:left ;}
    .ta_lwid_left img{width:30px; height: 30px; border-radius: 100px;}
    .ta_lwid_right{width:calc(100% - 35px); float: right;}
    .ta_wdka_text{line-height:25px;}
    .ta_toxmr{width:25px; height:25px;margin-right: 3px;}
    .seqr{line-height: 25px;width:73px;height:25px;font-size: 12px;}
    .seqr:hover{width:73px;height:25px;}
    .shenhe_z{line-height: 25px;width:73px;height:25px;font-size: 12px;}
    .shenhe_z:hover{width:73px;height:25px;}
    .wtg_z{line-height: 25px;width:73px;height:25px;font-size: 12px;}
    .wtg_z:hover{width:73px;height:25px;}
}

@media (max-width:320px){
    .wt_txb{width:60px;height: 20px;}

    .ta_lwid_left{width:30px;float:left ;}
    .ta_lwid_left img{width:30px; height: 30px; border-radius: 100px;}
    .ta_lwid_right{width:calc(100% - 35px); float: right;}
    .ta_wdka_text{line-height:20px;}
    .ta_toxmr{width:20px; height:20px;margin-right: 3px;}
    .seqr{line-height: 20px;width:59px;height:20px;font-size: 12px;}
    .seqr:hover{width: 59px;height:20px;}
    .shenhe_z{line-height: 20px;width:59px;height:20px;font-size: 12px;}
    .shenhe_z:hover{width: 59px;height:20px;}
    .wtg_z{line-height: 20px;width:59px;height:20px;font-size: 12px;}
    .wtg_z:hover{width: 59px;height:20px;}
}

.xzgn{position: absolute; right: 0; cursor: pointer; z-index: 2;}


.xa_rig10{ margin-right: -10px;}


.xa_ssbg{border-radius: 100px; box-shadow:rgba(232,117,130, 0.2) 2px 0 5px; float: left; font-size: 12px; background: #ffffff; padding:5px 5px; margin-top: 5px;}
.xa_ssbg span{ float: left; color: #eee;}
.xa_ssbg img{ float: left; height: 14px; margin-top: 0;}

.shou span{
    font-size: 18px;
}


.tl_bbg{width: 95%; margin: 0 auto; display: table;background:url("../images/taolq01.png") no-repeat;background-size: cover; padding: 10px 0 4px 0; border-radius:20px;
    box-shadow:0 5px 17px rgba(255,37,81,0.3); cursor: pointer;}
.tl_bbg_img{width:260px; margin: 0 auto; display: table;}
.tl_bbg:hover{box-shadow: 0 0px 20px rgba(255,37,81,0.2);}


.te_ins{width: 97%; margin: 0 auto; display: table; background: rgba(255,255,255,0.2);border-radius: 0 0 20px 20px;box-shadow: 0 10px 10px rgba(255,37,81,0.5); padding:8px 10px 5px 10px;}
.te_incob{ color: #fff;}
@media (max-width:450px){
    .tl_bbg_img{width:200px; margin: 0 auto; display: table;}
    .te_ins{padding:8px 10px 5px 10px;}
}
@media (max-width:360px){
    .te_ins{padding:5px 10px 0px 10px;}
}
@media (max-width:320px){
    .te_ins{padding:5px 10px 5px 10px;}
}

.huis_01{ background: #dcdcdc;}








